venv/
.env
.DS_Store
.gitignore
.git
.github
.idea
.buildHelper.txt
node_modules
__pycache__

# All hidden files
.*

Dockerfile
README.md
babel.cfg
unraid.xml

screenshots/
docs/
testing/
database/
delete/