**/tmp
/dockerfiles/wizarr-backend/database
/apps/wizarr-backend/database
**/.venv
**/__pycache__
.DS_Store

venv/
.env
.DS_Store
.gitignore
.git
.idea
.buildHelper.txt
__pycache__

Dockerfile
README.md
babel.cfg
unraid.xml

screenshots/
docs/
testing/
database/
delete/