[extractors]
wizard_markdown = scripts.wizard_translation_extractor:extract_wizard_markdown

[python: app/**.py]
[jinja2: app/templates/**.html]
;extensions=jinja2.ext.autoescape,jinja2.ext.with_
[wizard_markdown: wizard_steps/**.md]
