Flask
plexapi
Peewee
python-dotenv
gunicorn
flask_session
flask-babel
packaging
boto3
cachetools
Flask-APScheduler
requests
flask-htmx
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
password-strength
flask-swagger-ui
flask-restx
flask-jwt-extended
coloredlogs
flask_caching
schematics
cryptography
termcolor
tabulate
pydantic==1.10.12
flask-socketio
gevent
gevent-websocket
asyncio
flask[async]
pendulum
polib
googletrans==3.1.0a0
flask_oauthlib
webauthn
iso-639