Flask
plexapi
Peewee
python-dotenv
gunicorn
flask_session
flask-babel
packaging
boto3
cachetools
Flask-APScheduler
requests
flask-htmx
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
password-strength
flask-swagger-ui
pydantic
flask-restx
flask-jwt-extended
coloredlogs