@tailwind base;
@tailwind components;
@tailwind utilities;

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: rgb(254 65 85 / var(--tw-bg-opacity));
}

input:focus + .slider {
    box-shadow: 0 0 1px rgb(254 65 85 / var(--tw-bg-opacity));
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}

button[aria-current="page"] {
    color: #000 !important;
    font-weight: bold !important;
}

html.dark button[aria-current="page"] {
    color: #fff !important;
    font-weight: bold !important;
}

.htmx-indicator {
    display: none;
}
.htmx-request .htmx-indicator {
    display: flex;
}
.htmx-request.htmx-indicator {
    display: flex;
}

button:disabled,
button[disabled],
.disabled {
    opacity: 0.5 !important;
    cursor: not-allowed;
}

.toast {
    box-shadow: none !important;
}

// #navbar-default, #navbar-settings {
//     max-height: 1000px;
//     transition: max-height 0.5s ease-out;
//     display: block !important;
// }


// #navbar-default.hidden, #navbar-settings.hidden {
//     max-height: 0px;
//     display: block !important;
// }