apscheduler
coloredlogs
cryptography
python-dotenv
flask
flask-apscheduler
flask-caching
flask-jwt_extended
flask-oauthlib
flask-restx
flask-session
flask-socketio
python-nmap
packaging
password-strength
peewee
plexapi
psutil
pytz
requests
schematics
tabulate
termcolor
webauthn
werkzeug
sentry-sdk[flask]
gunicorn
gevent
gevent-websocket
pydantic==1.10.12
requests-cache
