<div id="wizard" class="animate__animated {% if prev %} animate__fadeInLeft {% endif %} {% if next %} animate__fadeInRight {% endif %} p-6 max-w-m bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
    <a>
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ _("Join & Download Jellyfin
            for this device")}}
        </h5>
    </a>
    <p class="mb-3 font-bold text-gray-700 dark:text-gray-400">
        {{ _("Great news! You now have access to our server's media collection. Let's make sure you know how to use
        it with Jellyfin.") }}
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
        {{ _("Planning on watching Movies on this device? Download Jellyfin for this device.") }}</p>
    <a href="https://jellyfin.org/downloads" target="_blank"
        class="inline-flex items-center py-2 px-3 text-sm font-medium text-center text-white bg-primary rounded-lg hover:bg-violet-800 focus:ring-4 focus:outline-none focus:ring-violet-300 dark:bg-violet-600 dark:hover:bg-violet-700 dark:focus:ring-violet-800">
        {{ _("Download") }}
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
            class="ml-2 -mr-1 w-4 h-4">
            <path stroke-linecap="round" stroke-linejoin="round"
                d="M9 8.25H7.5a2.25 2.25 0 00-2.25 2.25v9a2.25 2.25 0 002.25 2.25h9a2.25 2.25 0 002.25-2.25v-9a2.25 2.25 0 00-2.25-2.25H15M9 12l3 3m0 0l3-3m-3 3V2.25" />
        </svg>
    </a>




</div>