<div id="wizard"
    class="animate__animated {% if prev %} animate__fadeInLeft {% endif %} {% if next %} animate__fadeInRight {% endif %}  p-6 max-w-m bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
    <h4 class="mb-3 text-xl font-bold dark:text-white">
        🦧 {{ _("So what is Jellyfin?") }}
    </h4>
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
        {{ _("Jellyfin is an opensource platform that lets you stream movies and TV shows in one place.
        It's like having your own personal movie Netflix library at your fingertips! Think of it as a digital library of
        your favorite content that you can access from anywhere, on any device - your phone, tablet, laptop, smart TV,
        you name it.") }}</p>
    <br>
    <h4 class="mb-3 text-xl font-bold dark:text-white">
        🍿 {{ _("Right, so how do I watch stuff?") }}
    </h4>
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
        {{ _("It couldn't be simpler! Jellyfin is available on a wide variety of devices including laptops, tablets,
        smartphones, and TVs. All you need to do is download the Jellyfin app on your device, sign in with the account you just made,
        and
        you're ready to start streaming media. It's that easy! ") }}</p>
    <br>
    <h4 class="mb-3 text-xl font-bold dark:text-white">
        🔖 {{ _("Don't forget to bookmark the links!") }}
    </h4>
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
        {{ _("Bookmark Jellyfin (media) and JellySeerr (search) for use later on. 
        When setting up Jellyfin on another device (like a TV) when it asks to add a server just put in the URL") }}</p>
    <br>

    <div class="text-center">
        <a href="/setup/open-jellyfin" target="_blank"
            class="inline-flex items-center py-2 px-3 text-sm font-medium text-center text-white bg-primary rounded-lg hover:bg-primary_hover focus:ring-4 focus:outline-none focus:ring-amber-300 dark:bg-primary dark:hover:bg-primary_hover dark:focus:ring-primary_hover">
            {{ _("Open Jellyfin Web") }}
            <svg class="ml-2 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M11 3a1 1 0 100 2h2.586l-6.293 6.293a1 1 0 101.414 1.414L15 6.414V9a1 1 0 102 0V4a1 1 0 00-1-1h-5z">
                </path>
                <path d="M5 5a2 2 0 00-2 2v8a2 2 0 002 2h8a2 2 0 002-2v-3a1 1 0 10-2 0v3H5V7h3a1 1 0 000-2H5z"></path>
            </svg>
        </a>
    </div>
</div>
</div>

<script>
    function toggleIndexes(openedIndexes, index) {
        if (!openedIndexes.includes(index)) {
            return [...openedIndexes, index]
        }
        else {
            // remove the index from openIndex array
            return openedIndexes.filter((i) => i !== index)
        }
    }
</script>