{% extends "templates/box.html" %}

{% block box_header %}
    {{ _("Invited Users") }}
{% endblock %}

{% block box_subheader %}
    {{ _("Manage users that joined your server") }}
{% endblock %}

{% block box_header_actions %}
    <button onclick="scanUsers()" class="bg-primary hover:bg-primary_hover focus:outline-none text-white font-medium rounded md:rounded px-2.5 py-2 md:px-5 md:py-2.5 text-sm dark:bg-primary dark:hover:bg-primary_hover">
        {{ _("Scan Users") }}
    </button>
{% endblock %}

{% block box_footer_actions %}
    <button onclick="toast.errorToast('Add User not available yet')" class="bg-secondary hover:bg-secondary_hover focus:outline-none text-white font-medium rounded px-5 py-2.5 text-sm dark:bg-secondary dark:hover:bg-secondary_hover">
        {{ _("Add User") }}
    </button>
{% endblock %}

{% block box_content %}
<div id="user_table" hx-get="/partials/tables/global-users" hx-trigger="load" hx-target="#user_table" hx-swap="innerHTML">
    <p id="error_message" class="hidden text-center dark:text-white"></p>
    <div id="loader" class="text-center" role="status">
        <i class="text-gray-900 dark:text-white fa-solid fa-spinner fa-spin fa-2xl"></i>
    </div>
</div>

<script>

    // when a button is clicked with an id of "delete", add the "animate__fadeOut" to its parent 'tr'
    document.querySelectorAll('button#delete').forEach(button => {
        button.addEventListener('click', function () {
            this.closest('tr').classList.add('animate__fadeOut');
        });
    });


    async function scanUsers() {
        const users = await fetch('/api/users/scan', {
            method: 'GET',
            credentials: 'same-origin',
            headers: {
                'X-CSRF-TOKEN': getCookie('csrf_access_token')
            },
        })

        if (users.status === 200) {
            toast.successToast('Users scanned successfully')
            htmx.ajax('/partials/tables/global-users', 'get', '#user_table', 'innerHTML')
        } else {
            error = await users.json()

            if (error.message) {
                toast.errorToast(error.message)
            } else {
                toast.errorToast('Error scanning users')
            }
        }
    }

</script>
{% endblock %}