@font-face {
    font-family: motiva sans;
    font-style: normal;
    font-weight: 400;
    src:
        local("Motiva Sans"),
        url(../fonts/MotivaSans/MotivaSansRegular.woff) format("woff");
}
@font-face {
    font-family: motiva sans;
    font-style: normal;
    font-weight: 250;
    src:
        local("Motiva Sans"),
        url(../fonts/MotivaSans/MotivaSansThin.woff) format("woff");
}
@font-face {
    font-family: motiva sans;
    font-style: normal;
    font-weight: 300;
    src:
        local("Motiva Sans"),
        url(../fonts/MotivaSans/MotivaSansLight.woff) format("woff");
}
@font-face {
    font-family: motiva sans;
    font-style: normal;
    font-weight: 500;
    src:
        local("Motiva Sans"),
        url(../fonts/MotivaSans/MotivaSansMedium.woff) format("woff");
}
@font-face {
    font-family: motiva sans;
    font-style: normal;
    font-weight: 700;
    src:
        local("Motiva Sans"),
        url(../fonts/MotivaSans/MotivaSansBold.woff) format("woff");
}
@font-face {
    font-family: motiva sans;
    font-style: normal;
    font-weight: 800;
    src:
        local("Motiva Sans"),
        url(../fonts/MotivaSans/MotivaSansExtraBold.woff) format("woff");
}
@font-face {
    font-family: motiva sans;
    font-style: normal;
    font-weight: 900;
    src:
        local("Motiva Sans"),
        url(../fonts/MotivaSans/MotivaSansBlack.woff) format("woff");
}
