<h1 class="text-xl text-center font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
    {{ _("Your Done") }}
</h1>
<p class="text-base text-center text-gray-500 dark:text-gray-400 md:text-lg">
    {{ _("You have successfully completed the setup process.") }}
</p>
<div class="flex justify-center mt-6">
    <button onclick="exitSetup()" class="text-white bg-primary hover:bg-primary_hover focus:ring-4 focus:outline-none focus:ring-amber-300 font-medium rounded text-sm px-5 py-2.5 text-center dark:bg-primary dark:hover:bg-primary_hover dark:focus:ring-primary_hover">
        {{ _("Go to Dashboard") }}
    </button>
</div>

<script>
    function exitSetup() {
        localStorage.clear();
        window.location.href = '/';
    }
</script>