<div>
    <h1 class="text-xl text-center font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
        {{ _("Restore Backup") }}
    </h1>
    <p class="text-sm text-gray-500 dark:text-gray-400 text-center mt-2">
        {{ _("Restore a backup of your database and configuration from a backup file. You will need to provide the encryption password that was used to create the backup.") }}
    </p>
</div>
<form onsubmit="restoreBackup(this)" class="space-y-4 flex flex-col">
    <div>
        <label class="block text-sm font-medium text-gray-700 dark:text-gray-400 mb-2">
            {{ _("Encryption Password") }}
        </label>

        <input name="password" type="password" class="block w-full text-sm text-gray-900 border border-gray-300 rounded cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" autocomplete="new-password" placeholder="Password" required>
    </div>

    <input name="backup" class="block w-full mb-5 text-sm text-gray-900 border border-gray-300 rounded cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" type="file" required accept=".backup" placeholder="Backup File">

    <div class="flex justify-end">
        <button type="submit" class="bg-red-600 hover:bg-primary_hover focus:outline-none text-white font-medium rounded px-5 py-2.5 text-sm dark:bg-red-600 dark:hover:bg-primary_hover">
            {{ _("Restore Backup") }}
        </button>
    </div>
</form>

<script>
    async function restoreNotifications() {
        await wait(1000);
        toast.infoToast("A backup of your database will be saved into your database folder.", { duration: 5000 });
        await wait(1000);
        toast.infoToast("You may be logged out after the restore process is complete.", { duration: 5000 });
    }

    async function restoreBackup(that) {
        event.preventDefault();

        // Spin the submit button
        utils.submitSpinner(that, true);

        // Convert the form data into a FormData object
        const formData = new FormData(that);

        // Show message to the user
        const info = await toast.warningToast("This may take a while, please do not close the page until the process is complete.", { duration: 30000, close: true });

        // Show message to the user
        restoreNotifications();

        // Send the backup file to the server
        const response = await api.axios.post("/api/backup/restore", formData);

        // Check if the response is an error
        if (response.status != 200) {
            // Stop the spinner
            utils.submitSpinner(that, false);

            return;
        }

        // Clear all the input fields
        that.reset();
        utils.submitSpinner(that, false);
        info.hideToast();
        window.location.reload();
    }
</script>