<div id="wizard" class="min-w-25 w-full sm:min-w-70 animate__animated {% if prev %} animate__fadeInLeft {% endif %} {% if next %} animate__fadeInRight {% endif %}  max-w-sm bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700 p-0">
        <!-- Card header -->
        <header class="py-4 px-5 border-b border-gray-200 dark:border-gray-700">
            <div class="flex items-center">
                <div class="pr-1">
                    <h2 class="text-xl leading-snug font-bold tracking-tight text-gray-900 dark:text-white" id="discordServerName">unknown</h2>
                    <p class="block text-sm font-medium text-gray-900 dark:text-gray-400"><span id="discordMembersOnline">0</span> member online</p>
                </div>
            </div>
        </header>

        <!-- Card body -->
        <div class="py-3 px-5">
            <h3 class="text-s font-semibold uppercase text-gray-400 mb-1" id="discordChannel">#unknown</h3>
            <h3 class="text-xs font-semibold uppercase text-gray-500 mb-2">MEMBERS ONLINE</h3>

            <span id="usersOnlineList"></span>

            <div class="flex mb-1 hidden" id="usersOnlineListTemplate">
                <div class="w-16 h-16 relative" style="margin-right: 7px;">
                    <img class="rounded-full w-5" id="discordPicture" alt="Profile Picture">
                    <span class="rounded-full absolute bottom-0 right-0" id="discordOnline" style="width: 6px; height: 6px; margin-bottom: 1px; margin-right: 1px;"></span>
                </div>
                <div class="">
                    <h5 class="text-sm font-semibold text-gray-900 dark:text-white" id="discordUsername">realashleybailey</h5>
                </div>
            </div>
        </div>

        <span class="flex border-b border-gray-200 dark:border-gray-700 w-100"></span>

        <!-- Bottom right button -->
        <footer class="py-3 px-3 flex justify-end">
            <a id="discordJoin" href="" target="_blank" class="inline-flex items-center py-2 px-3 text-sm font-medium text-center text-white bg-primary rounded-lg hover:bg-primary_hover focus:ring-4 focus:outline-none focus:ring-amber-300 dark:bg-primary dark:hover:bg-primary_hover dark:focus:ring-primary_hover">
                Join Discord
            </a>
        </footer>
</div>

<script>
// Fetch discord server data
async function fetchDiscordServerData() {
    const response = await fetch('https://discord.com/api/guilds/{{ discord_id }}/widget.json', { cache: 'no-store' });
    const data = await response.json();
    return data;
}

// Fill in discord server data
async function fillDiscordServerData() {

    const discordServerData = await fetchDiscordServerData();

    var discordServerName = document.getElementById('discordServerName');
    var discordMembersOnline = document.getElementById('discordMembersOnline');
    var discordChannel = document.getElementById('discordChannel');
    var usersOnlineList = document.getElementById('usersOnlineList');
    var usersOnlineListTemplate = document.getElementById('usersOnlineListTemplate');
    var discordJoin = document.getElementById('discordJoin');

    discordServerName.innerText = discordServerData.name;
    discordMembersOnline.innerText = discordServerData.presence_count;
    discordChannel.innerText = discordServerData.channels[0].name;

    usersOnlineList.innerHTML = '';

    for (const element of discordServerData.members) {
        var usersOnlineListTemplateClone = usersOnlineListTemplate.cloneNode(true);
        usersOnlineListTemplateClone.id = element.id;
        usersOnlineListTemplateClone.classList.remove('hidden');
        usersOnlineListTemplateClone.querySelector('#discordPicture').src = element.avatar_url;
        
        if (element.status == "online") {
            usersOnlineListTemplateClone.querySelector('#discordOnline').style.backgroundColor = '#43b581';
        } else if (element.status == "idle") {
            usersOnlineListTemplateClone.querySelector('#discordOnline').style.backgroundColor = '#faa61a';
        } else if (element.status == "dnd") {
            usersOnlineListTemplateClone.querySelector('#discordOnline').style.backgroundColor = '#f04747';
        } else {
            usersOnlineListTemplateClone.querySelector('#discordOnline').style.backgroundColor = '#747f8d';
        }

        usersOnlineListTemplateClone.querySelector('#discordUsername').innerText = element.username;
        usersOnlineList.appendChild(usersOnlineListTemplateClone);
    }

    discordJoin.href = discordServerData.instant_invite;
}

fillDiscordServerData();

var refresh = setInterval(function() {
    fillDiscordServerData();
}, 5000);

document.getElementById('prevBtn').addEventListener('click', function() {
    clearInterval(refresh);
});
document.getElementById('nextBtn').addEventListener('click', function() {
    clearInterval(refresh);
});
</script>