<div
    id="wizard" class="animate__animated {% if prev %} animate__fadeInLeft {% endif %} {% if next %} animate__fadeInRight {% endif %}  flex p-4 max-w-sm bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
    <iframe src="https://discord.com/widget?id={{ discord_id }}&theme=dark" width="350" height="500"
        allowtransparency="true" frameborder="0"
        sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
</div>