<div id="wizard"
  class="animate__animated {% if prev %} animate__fadeInLeft {% endif %} {% if next %} animate__fadeInRight {% endif %}  p-6 max-w-sm bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
  <a href="#">
    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ _("Automatic Media Requests") }}
    </h5>
  </a>

  <p class="mb-5 font-light text-gray-500 sm:text-lg dark:text-gray-400">
    {{ _("We are excited to offer you a wide selection of media to choose from. If you're having trouble finding
    something you like, don't worry! We have a user-friendly request system that can automatically search for the
    media you're looking for. ") }}
  </p>
  
  <ul class="space-y-4 text-left text-gray-500 dark:text-gray-400">
    <li class="flex items-center space-x-3">
      <!-- Icon -->
      <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd"
          d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
          clip-rule="evenodd"></path>
      </svg>
      <span>{{ _("Request any available Movie or TV Show") }}</span>
    </li>
    <li class="flex items-center space-x-3">
      <!-- Icon -->
      <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd"
          d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
          clip-rule="evenodd"></path>
      </svg>
      <span>{{ _("Requested media will be automatically downloaded and added to the library (if available)") }}</span>
    </li>
    <li class="flex items-center space-x-3">
      <!-- Icon -->
      <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd"
          d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
          clip-rule="evenodd"></path>
      </svg>
      <span>{{ _("If enabled, receive notifications") }}</span>
    </li>

  </ul>
  <br>
  <a href="{{ request_url }}" target="_blank"
    class="bg-primary inline-flex items-center py-2 px-3 text-sm font-medium text-center text-white bg-amber-700 rounded-lg hover:bg-primary_hover focus:ring-4 focus:outline-none focus:ring-amber-300 dark:bg-primary dark:hover:bg-amber-700 dark:focus:ring-primary_hover">
    {{ _("Check it Out") }}
    <svg class="ml-2 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
      <path d="M11 3a1 1 0 100 2h2.586l-6.293 6.293a1 1 0 101.414 1.414L15 6.414V9a1 1 0 102 0V4a1 1 0 00-1-1h-5z">
      </path>
      <path d="M5 5a2 2 0 00-2 2v8a2 2 0 002 2h8a2 2 0 002-2v-3a1 1 0 10-2 0v3H5V7h3a1 1 0 000-2H5z"></path>
    </svg>
  </a>
</div>