<div class="flex justify-between items-center pb-3">
    <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
        {{ _("Create API Key") }}
    </h1>
</div>
<div class="flex flex-col">
    <form class="space-y-4 md:space-y-6" onsubmit="createAPI(this) && event.preventDefault()">
        <div>
            <label for="api_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ _("Name") }}</label>
            <input type="text" name="api_name" id="api_name" placeholder='e.g. "My App"' class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary focus:border-primary block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
        </div>
        <div class="flex justify-end pt-2 space-x-4">
            <button onclick="utils.closeModal(this)" type="button" class="inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:w-auto">
                {{ _("Cancel") }}
            </button>
            <button type="submit" class="inline-flex w-full justify-center rounded-md bg-primary px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-primary_hover sm:w-auto" {% if not admin_id %}disabled{% endif %}>
                {{ _("Create") }}
            </button>
        </div>
    </form>
</div>

<script>
    async function createAPI(that) {
        let spinner = that.closest('#modal').querySelector('#modal-spinner');
        spinner.classList.remove('hidden');

        let form = new FormData(that);

        let response = await fetch('/api/accounts/{{ admin_id }}/api', {
            method: 'POST',
            body: form,
            credentials: 'same-origin',
            headers: {
                'X-CSRF-TOKEN': getCookie('csrf_access_token'),
            },
        });

        // 422 - Validation error
        // 400 - API key already exists
        // 401 - Unauthorized
        // 500 - Server error

        if (response.status == 422) {
            spinner.classList.add('hidden');
            toast.errorToast("{{ _('Please fill out all required fields.') }}");

            let errors = await response.json();

            for (const [key, error] of Object.entries(errors.error)) {
                let input = document.getElementById(error.loc[0]);
                input.style.border = '2px solid #e3342f';

                if (document.getElementById('error-' + error.loc[0])) {
                    document.getElementById('error-' + error.loc[0]).remove();
                }

                let errorField = document.createElement('div');
                errorField.id = 'error-' + error.loc[0];
                errorField.className = 'text-xs text-red-500 mt-1';
                errorField.innerText = error.msg;
                input.after(errorField);
            }

            return;
        }

        if (response.status == 400) {
            spinner.classList.add('hidden');
            toast.errorToast("{{ _('API key already exists.') }}");
            return;
        }

        if (response.status == 401) {
            spinner.classList.add('hidden');
            toast.errorToast("{{ _('You are not authorized to perform this action.') }}");
            return;
        }

        if (response.status == 500 || response.status != 200) {
            spinner.classList.add('hidden');
            toast.errorToast("{{ _('Something went wrong.') }}");
            return;
        }

        toast.infoToast("{{ _('API key created.') }}");
        htmx.ajax('GET', '/partials/admin/settings/api', { target: '#settings-content', swap: 'innerHTML', indicator: '#spinner' });
    }
</script>