<div class="flex justify-between items-center pb-3">
    <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
        {{ _("Warning") }}
    </h1>
</div>
<div class="flex flex-col mb-8">
    <p class="text-sm text-gray-800 dark:text-gray-100">
        {{ _("Are you sure you want to delete this api key?") }}
    </p>
</div>
<div class="flex justify-end pt-2 space-x-4">
    <button onclick="window.closeModal(this)" type="button" class="inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:w-auto">
        {{ _("Cancel") }}
    </button>
    <button hx-delete="/api/apikeys/{{ api }}" hx-target="#settings-content" hx-swap="innerHTML" hx-indicator="#spinner" type="submit" class="inline-flex w-full justify-center rounded-md bg-primary px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-primary_hover sm:w-auto" {% if not api %}disabled{% endif %}>
        {{ _("Delete") }}
    </button>
</div>