<div class="flex justify-between items-center pb-3">
    <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
        {{ _("Warning") }}
    </h1>
</div>
<div class="flex flex-col mb-8">
    <p class="text-sm text-gray-800 dark:text-gray-100">
        {{ _("Are you sure you want to revoke this session?") }}
    </p>
</div>
<div class="flex justify-end pt-2 space-x-4">
    <button onclick="window.closeModal(this)" type="button" class="inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:w-auto">
        {{ _("Cancel") }}
    </button>
    <button onclick="revokeSession(this)" type="submit" class="inline-flex w-full justify-center rounded-md bg-primary px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-primary_hover sm:w-auto" {% if not session_id %}disabled{% endif %}>
        {{ _("Delete") }}
    </button>
</div>

<script>
    async function revokeSession(that) {
        let spinner = that.closest('#modal').querySelector('#modal-spinner');
        spinner.classList.remove('hidden');

        let response = await fetch("/api/sessions/{{ session_id }}", {
            method: "DELETE",
            credentials: 'same-origin',
            headers: {
                'X-CSRF-TOKEN': getCookie('csrf_access_token'),
            },
        })

        if (response.status == 301) {
            window.location.href = '/login';
            document.cookie = "access_token_cookie=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
            return;
        }

        if (response.status != 200) {
            spinner.classList.add('hidden');
            toast.errorToast("{{ _("Something went wrong. Please try again.") }}");
            return;
        }

        toast.className = 'show-toast';
        toast.infoToast("{{ _("Session deleted successfully!") }}");

        htmx.ajax('GET', '/partials/admin/account/sessions', { target:'#account-content', swap:'innerHTML', indicator:'#spinner' });
    }
</script>