<button class="relative bg-white rounded shadow-md dark:bg-gray-800 dark:border dark:border-gray-700 overflow-hidden hover:bg-gray-50 dark:hover:bg-gray-700 cursor-pointer group transition duration-150 ease-in-out">
    <div class="flex flex-row justify-start p-3 items-center">
        <div class="aspect-square h-full p-3 bg-gray-100 rounded flex items-center justify-center bg-gray-100 dark:bg-gray-700 group-hover:bg-gray-200 dark:group-hover:bg-gray-600 transition duration-150 ease-in-out">
            <i class="fas fa-lock text-gray-400"></i>
        </div>
        <div class="flex flex-col ml-4">
            <div class="settings-item-title text-sm font-bold text-start leading-tight tracking-tight text-gray-900 md:text-md dark:text-gray-400 line-clamp-1">
                Plex Server
            </div>
            <div class="settings-item-description text-xs text-start leading-tight tracking-tight text-gray-900 md:text-sm dark:text-gray-400 line-clamp-1">
                http://172.16.0.1:32400
            </div>
        </div>
    </div>
</button>