<div class="animate__animated animate__fadeIn">

    {% include 'development.html' %}

    <div class="flex flex-col space-y-4">
        <div>
            <label for="discord_token" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ _("Discord Token") }}</label>
            <input type="text" name="discord_id" id="discord_token" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded focus:ring-primary focus:border-primary block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white" value="{% if discord_id %}{{ discord_id }}{% endif %}">
        </div>

        <div class="flex items-center justify-end mt-4">
            <button type="submit" class="bg-primary hover:bg-red-100 focus:ring-4 focus:outline-none focus:ring-red-100 text-white font-medium rounded px-5 py-2.5 text-sm">
                {{ _("Save") }}
            </button>
        </div>
    </div>
</div>