<div id="create-modal"></div>

<div class="animate__animated animate__fadeIn">
    <form id="general-form" class="space-y-4 md:space-y-6">

        <div id="server_name_div" data-default="{{ server_name }}">
            <label for="server_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ _("Server Display Name") }}</label>
            <input type="server_name" name="server_name" id="server_name" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded focus:ring-primary focus:border-primary block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white" value="{% if server_name %}{{ server_name }}{% endif %}" required="" autocomplete="one-time-code">
        </div>

        <div id="server_url_div" data-default="{{ server_url }}">
            <label for="server_url" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ _("Server URL") }}</label>
            <div class="relative mb-6">
                <div class="absolute inset-y-0 left-0 flex items-center pl-3.5 pointer-events-none">
                    <i class="fas fa-arrow-up-right-from-square text-gray-400"></i>
                </div>
                <input type="text" name="server_url" id="server_url" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded focus:ring-primary focus:border-primary block w-full pl-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white" placeholder="https://plex.wizarr.dev" value="{% if server_url %}{{ server_url }}{% endif %}" required="" autocomplete="one-time-code">
                <button type="button" id="detect_server" class="bg-primary hover:bg-primary_hover focus:outline-none text-white font-medium absolute top-0 right-0 p-2.5 h-full rounded-r text-sm dark:bg-primary dark:hover:bg-primary_hover">
                    {{ _("Detect Server") }}
                </button>
            </div>
        </div>

        {# <input type="hidden" name="server_type" id="server_type_hidden" value="{% if server_type %}{{ server_type }}{% endif %}"> #}

        <div id="server_type_div" data-default="{{ server_type }}" class="{% if not server_type %} hidden {% endif %}">
            <label for="server_type" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ _("Server Type") }}</label>
            <div class="relative mb-6">
                <div class="absolute inset-y-0 left-0 flex items-center pl-3.5 pointer-events-none">
                    <i class="fas fa-server text-gray-400"></i>
                </div>
                <select name="server_type" id="server_type" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded focus:ring-primary focus:border-primary block w-full pl-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white">
                    <option {% if not server_type %} selected {% endif %} disabled>{{ _("Choose a server") }}</option>
                    <option {% if server_type=="jellyfin" %} selected {% endif %} value="jellyfin">Jellyfin (or Emby)</option>
                    <option {% if server_type=='plex' %} selected {% endif %} value="plex">Plex Media Server</option>
                </select>
            </div>
        </div>

        <div id="server_api_key_div" data-default="{{ server_api_key }}" class="{% if not server_api_key %} hidden {% endif %}">
            <label for="server_api_key" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ _("Server API Key") }}</label>
            <div class="relative mb-6">
                <div class="absolute inset-y-0 left-0 flex items-center pl-3.5 pointer-events-none">
                    <i class="fas fa-key text-gray-400"></i>
                </div>
                <input type="password" name="server_api_key" id="server_api_key" autocomplete="off" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded focus:ring-primary focus:border-primary block w-full pl-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white" value="{% if server_api_key %}{{ server_api_key }}{% endif %}" placeholder="XXXXXXXXXXXXXXXXX" required="" autocomplete="one-time-code">
            </div>
        </div>

        <div class="flex items-center justify-end mt-4 space-x-2">
            <div id="scan_servers_div">
                <button type="button" hx-get="/partials/modals/scan-for-servers" hx-target="#create-modal" hx-trigger="click" hx-swap="innerHTML" id="scan-for-servers-button" _="on htmx:afterOnLoad wait 10ms then remove .hidden to #modal" class="bg-secondary hover:bg-secondary_hover focus:outline-none text-white font-medium rounded px-5 py-2.5 text-sm dark:bg-secondary dark:hover:bg-secondary_hover">
                    {{ _("Scan for Servers") }}
                </button>
            </div>
            <div id="scan_libraries_div">
                <button type="button" hx-get="/partials/modals/update-libraries" hx-target="#create-modal" hx-trigger="click" hx-swap="innerHTML" id="scan-libraries-button" _="on htmx:afterOnLoad wait 10ms then remove .hidden to #modal" class="bg-primary hover:bg-primary_hover focus:outline-none text-white font-medium rounded px-5 py-2.5 text-sm dark:bg-primary dark:hover:bg-primary_hover">
                    {{ _("Configure Libraries") }}
                </button>
            </div>
            <div id="test_connection_div" class="hidden">
                <button type="button" id="test_button" class="bg-primary hover:bg-primary_hover focus:outline-none text-white font-medium rounded px-5 py-2.5 text-sm dark:bg-primary dark:hover:bg-primary_hover">
                    {{ _("Test Connection") }}
                </button>
            </div>
            <div id="save_configuration_div">
                <button type="submit" id="save-button" class="bg-primary hover:bg-primary_hover focus:outline-none text-white font-medium rounded px-5 py-2.5 text-sm dark:bg-primary dark:hover:bg-primary_hover">
                    {{ _("Save") }}
                </button>
            </div>
        </div>
    </form>
</div>

<script type="module" defer>
    const mediaConfig = new utils.MediaConfiguration();
</script>