<div id="delete-modal"></div>
<div hx-get="/partials/tables/sessions-table" hx-trigger="load" hx-target="#sessions_table" hx-swap="innerHTML" class="flex flex-col space-y-4 animate__animated animate__fadeIn">

    <!-- Notifications Table -->
    <div id="sessions_table">
        <p id="error_message" class="hidden text-center dark:text-white"></p>
        <div id="loader" class="text-center" role="status">
            <i class="text-gray-900 dark:text-white fa-solid fa-spinner fa-spin fa-2xl"></i>
        </div>
    </div>

    <div class="flex items-center justify-end space-x-2">
        <button hx-get="/partials/modals/revoke-all-sessions" hx-target="#delete-modal" hx-trigger="click" hx-swap="innerHTML" id="revoke-all-sessions-button" class="bg-primary hover:bg-primary_hover focus:outline-none text-white font-medium rounded px-5 py-2.5 text-sm dark:bg-primary dark:hover:bg-primary_hover">
            {{ _("Revoke All") }}
        </button>
    </div>
</div>

<script>

</script>