<div id="run-modal"></div>

<div hx-get="/partials/tables/task-table" hx-trigger="load" hx-target="#task_table" hx-swap="innerHTML" class="flex flex-col space-y-4 animate__animated animate__fadeIn" id="task_table_container">

    <!-- Users Table -->
    <div id="task_table">
        <p id="error_message" class="hidden text-center dark:text-white"></p>
        <div id="loader" class="text-center" role="status">
            <i class="text-gray-900 dark:text-white fa-solid fa-spinner fa-spin fa-2xl"></i>
        </div>
    </div>

    <!-- Bottom Bar -->
    {# <div class="flex items-center justify-end space-x-2">
        <button id="adduser" hx-get="" hx-target="" hx-trigger="click" class="bg-secondary hover:bg-secondary_hover focus:outline-none text-white font-medium rounded px-5 py-2.5 text-sm dark:bg-secondary dark:hover:bg-secondary_hover">
            {{ _("Add Admin") }}
        </button>
    </div> #}

</div>