<!DOCTYPE html>

<html lang="en">

<head>
  <script src="https://cdn.tailwindcss.com"></script>

  <meta name="viewport" content="initial-scale=1, width=device-width, viewport-fit=cover, user-scalable=no">


</head>

<body>
  <section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-(--breakpoint-xl) lg:py-16 lg:px-6">
      <div class="mx-auto max-w-(--breakpoint-sm) text-center">
        <h1 class="mb-4 text-7xl tracking-tight font-extrabold lg:text-9xl text-primary-600 dark:text-primary-500">500
        </h1>
        <p class="mb-4 text-3xl tracking-tight font-bold text-gray-900 md:text-4xl dark:text-white">{{ _("Internal Server Error.") }}
        </p>
        <p class="mb-4 text-lg font-light text-gray-500 dark:text-gray-400">{{ _(" Something has gone wrong. Please try again later.") }}
        </p>
      </div>
    </div>
  </section>
</body>

</html>