<section class="bg-gray-50 dark:bg-gray-900">
    <div class="flex flex-col items-center justify-center mx-auth md:container md:mx-auto">
        <div id="settings" class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md min-w-full xl:p-0 dark:bg-gray-800 dark:border-gray-700">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8 animate__animated animate__fadeIn">

                <div class="flex justify-between flex-col lg:flex-row lg:items-start space-y-0 md:space-y-4 lg:space-y-0">

                    <div class="flex flex-row justify-between w-full">
                        <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white flex items-center">
                            {{ _("Your Account") }}
                        </h1>
                        <button id="navbar-account-button" data-collapse-toggle="navbar-account" type="button" class="inline-flex p-2 items-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-account" aria-expanded="false">
                            <span class="sr-only">Open main menu</span>
                            <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path>
                            </svg>
                        </button>
                    </div>

                    <div class="hidden w-full md:block md:w-auto" id="navbar-account">
                        <ul class="flex flex-col p-4 mt-2 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 md:bg-gray-50 dark:bg-gray-700 md:dark:bg-gray-700 dark:border-gray-900">
                            <li>
                                <button hx-get="/partials/admin/account/general" hx-trigger="click" hx-target="#account-content" hx-swap="innerHTML" hx-push-url="/admin/account/general" class="block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-primary md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">
                                    {{ _("Account") }}
                                </button>
                            </li>
                            <li>
                                <button hx-get="/partials/admin/account/password" hx-trigger="click" hx-target="#account-content" hx-swap="innerHTML" hx-push-url="/admin/account/password" class="block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-primary md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">
                                    {{ _("Password") }}
                                </button>
                            </li>
                            <li>
                                <button hx-get="/partials/admin/account/sessions" hx-trigger="click" hx-target="#account-content" hx-swap="innerHTML" hx-push-url="/admin/account/sessions" class="block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-primary md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">
                                    {{ _("Sessions") }}
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>

                <div id="account-content" class="flex flex-col p-2 md:p-0">
                    {% include account_subpath %}
                </div>
            </div>
        </div>
    </div>
</section>
