<section>
    <div class="flex flex-col items-center justify-center mx-auth md:container md:mx-auto">
        <div hx-get="/partials/tables/invite-table" hx-trigger="load" hx-target="#invite-table" hx-swap="outerHTML" class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md min-w-full xl:p-0 dark:bg-gray-800 dark:border-gray-700">
            <div class="p-6 space-y-4 sm:p-8 animate__animated animate__fadeIn flex flex-col justify-between" style="min-height: 220px; transition: min-height 0.5s ease 0s;">
                <!-- Top Bar -->
                <div class="flex items-center justify-between">
                    <div class="flex items-center">
                        <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                            {{ _("Server Invites") }}
                        </h1>
                    </div>
                </div>

                <!-- Table -->
                <div id="invite-table">
                    <p id="error_message" class="hidden text-center dark:text-white"></p>
                    <div id="loader" class="text-center" role="status">
                        <i class="text-gray-900 dark:text-white fa-solid fa-spinner fa-spin fa-2xl"></i>
                    </div>
                </div>

                <!-- Bottom Bar -->
                <div class="flex items-center justify-end space-x-2">
                    <button hx-get="" hx-target="" hx-trigger="click" class="bg-secondary hover:bg-secondary_hover focus:outline-none text-white font-medium rounded-lg px-5 py-2.5 text-sm dark:bg-secondary dark:hover:bg-secondary_hover">
                        {{ _("Create Invite") }}
                    </button>
                    <button hx-get="" hx-target="" hx-trigger="click" class="bg-red-600 hover:bg-primary_hover focus:outline-none text-white font-medium rounded-lg px-5 py-2.5 text-sm dark:bg-red-600 dark:hover:bg-primary_hover">
                        {{ _("Delete All") }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

<script>

    function tableCopyLink(invite_code) {
        var url = window.location.origin;

        // Get the text field
        var copyText = document.getElementById("copy_" + invite_code);
        var icon = document.getElementById("icon_" + invite_code);

        // Copy the text inside the text field
        navigator.clipboard.writeText(url + "/j/" + invite_code);

        // Add class="text-green-500" to icon
        icon.classList.add("text-green-500");
        // wait for 1 second
        setTimeout(function () {
            // remove class="text-green-500" from icon
            icon.classList.remove("text-green-500");
        }, 1000);
    }
</script>