<section class="py-8 animate__animated animate__fadeIn">
    <div class="container px-4 mx-auto">
        <div class="flex gap-4 mb-4">
            <select id="invite_server_filter" name="server" class="w-full sm:w-56 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary focus:border-primary p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white" hx-post="/invite/table" hx-target="#invite_table" hx-swap="outerHTML" hx-include="#invite_server_filter">
                <option value="">All Servers</option>
                {% for s in servers %}
                <option value="{{ s.id }}">{{ s.name }} ({{ s.server_type }})</option>
                {% endfor %}
            </select>
        </div>

        <div hx-post="/invite/table" hx-trigger="load" hx-target="#invite_table" hx-swap="outerHTML" hx-include="#invite_server_filter"
            class="p-4 mb-6 overflow-x-auto ">

            <div id="invite_table"></div>

        </div>

    </div>
</section>
<script>

    function tableCopyLink(invite_code) {
        var url = window.location.origin;

        // Get the text field
        var copyText = document.getElementById("copy_" + invite_code);
        var icon = document.getElementById("icon_" + invite_code);

        // Copy the text inside the text field
        navigator.clipboard.writeText(url + "/j/" + invite_code);

        // Add class="text-green-500" to icon
        icon.classList.add("text-green-500");
        // wait for 1 second
        setTimeout(function() {
            // remove class="text-green-500" from icon
            icon.classList.remove("text-green-500");
        }, 1000);
    }
</script>