<section class="py-8 animate__animated animate__fadeIn">
    <div class="container px-4 mx-auto">
        <div hx-post="/invite/table" hx-trigger="load" hx-target="#invite_table" hx-swap="outerHTML"
            class="p-4 mb-6 overflow-x-auto ">

            <div id="invite_table"></div>

        </div>

    </div>
</section>
<script>

    function tableCopyLink(invite_code) {
        var url = window.location.origin;

        // Get the text field
        var copyText = document.getElementById("copy_" + invite_code);
        var icon = document.getElementById("icon_" + invite_code);

        // Copy the text inside the text field
        navigator.clipboard.writeText(url + "/j/" + invite_code);

        // Add class="text-green-500" to icon
        icon.classList.add("text-green-500");
        // wait for 1 second
        setTimeout(function() {
            // remove class="text-green-500" from icon
            icon.classList.remove("text-green-500");
        }, 1000);
    }
</script>