<section class="bg-gray-50 dark:bg-gray-900 animate__animated animate__fadeIn">
    <div class="flex flex-col items-center justify-center py-8 mx-auto container px-2 sm:px-4 md:px-0">
        <div id="settings" class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md min-w-full xl:p-0 dark:bg-gray-800 dark:border-gray-700">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">

                <div class="flex justify-between md:items-center flex-col md:flex-row">

                    <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                        {{ _("Server Settings") }}
                    </h1>

                    <div class="w-full md:block md:w-auto rounded bg-gray-700 md:bg-transparent mt-3 md:mt-0" id="navbar-settings">
                        <ul class="flex flex-col p-2 md:p-4 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium">
                            <li>
                                <button hx-get="/partials/admin/settings/general" hx-trigger="click" hx-target="#settings-content" hx-swap="innerHTML" class="block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-primary md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">
                                    {{ _("General") }}
                                </button>
                            </li>
                            <li>
                                <button hx-get="/partials/admin/settings/requests" hx-trigger="click" hx-target="#settings-content" hx-swap="innerHTML" class="block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-primary md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">
                                    {{ _("Requests") }}
                                </button>
                            </li>
                            <li>
                                <button hx-get="/partials/admin/settings/discord" hx-trigger="click" hx-target="#settings-content" hx-swap="innerHTML" class="block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-primary md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">
                                    {{ _("Discord") }}
                                </button>
                            </li>
                            <li>
                                <button hx-get="/partials/admin/settings/html" hx-trigger="click" hx-target="#settings-content" hx-swap="innerHTML" class="block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-primary md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">
                                    {{ _("Custom HTML") }}
                                </button>
                            </li>
                            <li>
                                <button hx-get="/partials/admin/settings/api" hx-trigger="click" hx-target="#settings-content" hx-swap="innerHTML" class="block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-primary md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">
                                    {{ _("API") }}
                                </button>
                            </li>
                            <li>
                                <button hx-get="/partials/admin/settings/accounts" hx-trigger="click" hx-target="#settings-content" hx-swap="innerHTML" class="block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-primary md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">
                                    {{ _("Accounts") }}
                                </button>
                            </li>
                            <li>
                                <button hx-get="/partials/admin/settings/notifications" hx-trigger="click" hx-target="#settings-content" hx-swap="innerHTML" class="block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-primary md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">
                                    {{ _("Notifications") }}
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>

                <div id="settings-content" class="flex flex-col">
                    {% include settings_subpath %}
                </div>
            </div>
        </div>
    </div>
</section>