<section class="bg-gray-50 dark:bg-gray-900">
    <div class="flex flex-col items-center justify-center py-1 mx-auto container px-2 sm:px-4 md:px-0">
        <div hx-get="/partials/tables/global-users" hx-trigger="load" hx-target="#user_table" hx-swap="innerHTML" class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md min-w-full xl:p-0 dark:bg-gray-800 dark:border-gray-700">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8 animate__animated animate__fadeIn flex flex-col justify-between" style="min-height: 220px; transition: min-height 0.5s ease 0s;">
                <div class="relative overflow-x-auto">

                    <!-- Top Bar -->
                    <div class="flex items-center justify-between">
                        <div class="flex items-center">
                            <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                                {{ _("Server Users") }}
                            </h1>
                        </div>
                        <button hx-get="" hx-target="" hx-trigger="click" class="bg-primary hover:bg-primary_hover focus:outline-none text-white font-medium rounded-lg px-5 py-2.5 text-sm dark:bg-primary dark:hover:bg-primary_hover">
                            {{ _("Scan Users") }}
                        </button>
                    </div>

                    <!-- Users Table -->
                    <div id="user_table">
                        <p id="error_message" class="hidden text-center dark:text-white"></p>
                        <div id="loader" class="text-center" role="status">
                            <i class="text-gray-900 dark:text-white fa-solid fa-spinner fa-spin fa-2xl"></i>
                        </div>
                    </div>

                    <!-- Bottom Bar -->
                    <div class="flex items-center justify-end space-x-2">
                        <button id="adduser" hx-get="" hx-target="" hx-trigger="click" class="bg-secondary hover:bg-secondary_hover focus:outline-none text-white font-medium rounded-lg px-5 py-2.5 text-sm dark:bg-secondary dark:hover:bg-secondary_hover">
                            {{ _("Add User") }}
                        </button>
                        <button id="deleteusers" hx-get="" hx-target="" hx-trigger="click" class="bg-red-600 hover:bg-primary_hover focus:outline-none text-white font-medium rounded-lg px-5 py-2.5 text-sm dark:bg-red-600 dark:hover:bg-primary_hover">
                            {{ _("Delete All") }}
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<div id="modal" class="hidden fixed top-0 left-0 right-0 z-50 w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-modal md:h-full">
    <div id="modal-user" class="opacity-100 relative w-full h-full max-w-md my-auto mx-auto md:h-auto ">
    </div>

</div>
{# <script>
    error = () => {
        document.getElementById("loader").classList.add("hidden");
        document.getElementById("error_message").classList.remove("hidden");
        document.getElementById("error_message").innerHTML = "An error occurred. Please try again later.";
        document.getElementById("adduser").disabled = true;
        document.getElementById("deleteusers").disabled = true;
    }

    document.body.addEventListener("htmx:sendError", error);
    document.body.addEventListener("htmx:requestError", error);
</script> #}
<script>

    // when a button is clicked with an id of "delete", add the "animate__fadeOut" to its parent 'tr'
    document.querySelectorAll('button#delete').forEach(button => {
        button.addEventListener('click', function () {
            this.closest('tr').classList.add('animate__fadeOut');
        });
    });


    // a function called closeModal that add the hidden class to 'modal-div' and deletes all child elements from 'user-modal'
    function closeModal() {
        document.getElementById('modal').classList.add('hidden');
        var modal = document.getElementById('modal-user');
        while (modal.firstChild) {
            modal.removeChild(modal.firstChild);
        }
    }

</script>