<div id="modal" class="opacity-100 relative bg-white rounded-lg shadow-2xl dark:bg-gray-700 " x-data="{openedIndexes: []}">
    <button type="button" onclick="closeModal()"
        class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white"
        data-modal-hide="authentication-modal">
        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
                d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                clip-rule="evenodd"></path>
        </svg>
        <span class="sr-only">Close modal</span>
    </button>
    <div class="px-6 py-6 lg:px-8">
        <h3 class="mb-4 text-xl font-medium text-gray-900 dark:text-white">Edit User: {{ user['Name'] }}</h3>


        <div class="py-3">
            <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">User ID</label>
            <input disabled type="text" name=""
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                required value="{{ user['Id'] }}">
        </div>
        {% if server_type == "jellyfin" %}
        <div class="py-3">
            <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Last Login</label>
            <input disabled type="text" name=""
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                required
                value="{{ (user['LastLoginDate']|string)[0:10] }} {{ (user['LastActivityDate']|string)[11:16] }}">
        </div>
        <div class="py-3">
            <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Last Activity</label>
            <input disabled type="text" name=""
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                required
                value="{{ (user['LastActivityDate']|string)[0:10] }} {{ (user['LastActivityDate']|string)[11:16] }}">
        </div>
        {% endif %}
        
        <form id="user-form" hx-post="/user/{{ db_id }}">
            <div>
                <button type="button" @click="openedIndexes = toggleIndexes(openedIndexes, 0)"
                    class="flex items-center justify-between w-full p-5 font-medium text-left text-gray-500 border border-b-0 border-gray-200 rounded-t-xl focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800">
                    <span>{{ _("User Configuration") }}</span>
                    <svg x-show="!openedIndexes.includes(0)" class="w-6 h-6 shrink-0" fill="currentColor"
                        viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                            clip-rule="evenodd"></path>
                    </svg>
                    <svg x-show="openedIndexes.includes(0)" class="w-6 h-6 rotate-180 shrink-0" fill="currentColor"
                        viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                            clip-rule="evenodd"></path>
                    </svg>
                </button>

                <div class="space-y-6" action="#" x-show="openedIndexes.includes(0)">
                    {% for key, value in user["Configuration"].items() %}
                    {% if value is not boolean %}
                    <div class="py-3">
                        <label for="{{ key }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{
                            key }}</label>
                        <input type="text" name="{{ key }}"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                            required value="{{ value }}">
                    </div>
                    {% endif %}

                    {% if value is boolean %}

                    <div>
                        <label for="{{ key }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{
                            key }}</label>
                        <select name="{{ key }}" id="{{ key }}"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary focus:border-primary block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-red-500 dark:focus:border-red-500">
                            <option {% if value==True %} selected {% endif %} value="True">True</option>
                            <option {% if value==False %} selected {% endif %} value="False">False</option>
                        </select>
                    </div>

                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div>
                <button type="button" @click="openedIndexes = toggleIndexes(openedIndexes, 1)"
                    class="flex items-center justify-between w-full p-5 font-medium text-left text-gray-500 border border-gray-200 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800">
                    <span>{{ _("User Policy") }}</span>
                    <svg x-show="!openedIndexes.includes(0)" class="w-6 h-6 shrink-0" fill="currentColor"
                        viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                            clip-rule="evenodd"></path>
                    </svg>
                    <svg x-show="openedIndexes.includes(0)" class="w-6 h-6 rotate-180 shrink-0" fill="currentColor"
                        viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                            clip-rule="evenodd"></path>
                    </svg>
                </button>
                <div class="space-y-6" action="#" x-show="openedIndexes.includes(1)">
                    {% for key, value in user["Policy"].items() %}
                    {% if value is not boolean %}
                    <div class="py-3">
                        <label for="{{ key }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{
                            key }}</label>
                        <input type="text" name="{{ key }}"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
                            required value="{{ value }}">
                    </div>
                    {% endif %}

                    {% if value is boolean %}

                    <div>
                        <label for="{{ key }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{
                            key }}</label>
                        <select name="{{ key }}" id="{{ key }}"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary focus:border-primary block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-red-500 dark:focus:border-red-500">
                            <option {% if value==True %} selected {% endif %} value="True">True</option>
                            <option {% if value==False %} selected {% endif %} value="False">False</option>
                        </select>
                    </div>

                    {% endif %}
                    {% endfor %}
                </div>

            </div>
            <div class="pt-2">
                <button type="submit" hx-post="/user/{{ db_id }}" hx-target="#user_table" hx-swap="outerHTML"
                onclick="document.getElementById('modal').classList.add('hidden');" class="w-full text-white bg-primary hover:bg-primary_hover focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary dark:hover:bg-primary_hover dark:focus:ring-primary_hover">Save</button>
            </div>
        </form>
    </div>
    <script>
        function toggleIndexes(openedIndexes, index) {
            if (!openedIndexes.includes(index)) {
                return [...openedIndexes, index]
            }
            else {
                // remove the index from openIndex array
                return openedIndexes.filter((i) => i !== index)
            }
        }
    </script>
</div>


