<div class="space-y-3">
    {% if notifications %}
        {% for notification in notifications %}
            <div class="relative bg-white rounded shadow-md dark:bg-gray-800 dark:border dark:border-gray-700 overflow-hidden hover:bg-gray-50 dark:hover:bg-gray-700 cursor-pointer group transition duration-150 ease-in-out">
                <div class="flex flex-row justify-start p-3 items-center">

                    <!-- Logo -->
                    <div class="aspect-square h-full p-3 bg-gray-100 rounded flex items-center justify-center bg-gray-100 dark:bg-gray-700 group-hover:bg-gray-200 dark:group-hover:bg-gray-600 transition duration-150 ease-in-out">
                        {% if notification.template and notification.template.logo %}
                            <div class="flex-shrink-0 w-10 h-10 rounded overflow-hidden">
                                <img class="w-full h-full object-cover object-center" src="{{ notification.template.logo }}" alt="{{ notification.template.name }} logo">
                            </div>
                        {% else %}
                            <div class="flex-shrink-0 w-10 h-10 rounded overflow-hidden flex items-center justify-center">
                                {% if notification.template and notification.template.icon %}
                                    <i class="text-gray-500 fa-2xl fa-solid {{ notification.template.icon }}"></i>
                                {% else %}
                                    <i class="text-gray-500 fa-2xl fa-solid fa-bell-slash"></i>
                                {% endif %}
                            </div>
                        {% endif %}
                    </div>

                    <!-- Name -->
                    <div class="flex flex-col flex-grow ml-4 h-full">
                        {% if notification.name %}
                            <p class="text-lg font-medium text-gray-900 dark:text-white">
                                {{ notification.name }}
                            </p>
                        {% endif %}
                        {% if notification.template and notification.template.name %}
                            <p class="text-sm text-gray-600 dark:text-gray-400">
                                {{ notification.template.name }}
                            </p>
                        {% endif %}
                    </div>

                    <div class="flex col justify-end dark:text-white">
                        <button class="focus:ring-2 p-2 rounded focus:outline-none" onclick="utils.toggleMenu(this)" role="button" aria-label="option">
                            <i class="transition-all fa-solid fa-ellipsis"></i>
                        </button>
                        <div class="menu flex row overflow-hidden transition-all items-center space-x-2 ml-2" style="max-width: 0px;">
                            <button hx-get="/partials/modals/edit-notification-agent?agent={{ notification.id }}" hx-target="#edit-modal" hx-trigger="click" id="edit-agent-button" class="bg-gray-600 focus:outline-none text-white font-medium rounded px-4 py-2.5 text-sm dark:bg-gray-600">
                                {{ _("Edit") }}
                            </button>
                            <button hx-get="/partials/modals/delete-notification-agent?agent={{ notification.id }}" hx-target="#delete-modal" hx-trigger="click" id="delete-agent-button" class="bg-primary focus:outline-none text-white font-medium rounded px-4 py-2.5 text-sm dark:bg-primary">
                                {{ _("Delete") }}
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="flex flex-col items-center justify-center mt-4">
            <i class="text-gray-400 fa-3x fa-solid fa-bell-slash"></i>
            <p class="text-gray-400 mt-2">
                {{ _("No notification agents found.") }}
            </p>
        </div>
    {% endif %}
</div>