<!-- admins Table -->
<div class="mt-7 overflow-x-auto">
    {% if admins %}
    <table class="w-full whitespace-nowrap">
        <tbody>
            {% for admin in admins %}
            <tr tabindex="0" class="focus:outline-none h-16 rounded-lg border dark:bg-gray-800 dark:border-gray-700 text-gray-900 dark:text-white">

                {% if admin.photo or admin.username %}
                <td class="text-right">
                    <div class="flex items-center pl-5 space-x-4">
                        {% if admin.photo or admin.username %}
                        <div class="flex-shrink-0 w-10 h-10 rounded-lg bg-gray-50 overflow-hidden">
                            <img class="w-full h-full object-cover object-center" onerror="this.src='https://ui-avatars.com/api/?uppercase=true&name={{ admin.username }}&length=1'" src="{{ admin.photo }}" alt="Profile Picture">
                        </div>
                        {% endif %}
                        {% if admin.username %}
                        <p class="text-base font-medium leading-none mr-2">
                            {{ admin.username }}
                        </p>
                        {% endif %}
                    </div>
                </td>
                {% endif %}

                <td class="p-5 block md:hidden text-center">
                    <button class="text-gray-600 text-sm leading-none py-3 px-5 bg-gray-100 rounded hover:bg-gray-200 focus:outline-none">View</button>
                </td>

                <td class="p-5 pr-8 text-right">
                    <div class="flex col justify-end">
                        <button class="focus:ring-2 p-2 rounded-md focus:outline-none" onclick="utils.toggleMenu(this)" role="button" aria-label="option">
                            <i class="transition-all fa-solid fa-ellipsis"></i>
                        </button>
                        <div class="menu flex row overflow-hidden transition-all items-center space-x-2 ml-2" style="max-width: 0px;">
                            <button hx-get="" hx-target="" hx-trigger="click" class="bg-gray-600 focus:outline-none text-white font-medium rounded-lg px-4 py-2.5 text-sm dark:bg-gray-600">
                                {{ _("Edit") }}
                            </button>
                            <button hx-get="" hx-target="" hx-trigger="click" class="bg-primary focus:outline-none text-white font-medium rounded-lg px-4 py-2.5 text-sm dark:bg-primary">
                                {{ _("Delete") }}
                            </button>
                        </div>
                    </div>
                </td>
            </tr>

            <tr class="h-0 md:h-3"></tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p class="text-center dark:text-white">There are currently no admins.</p>
    {% endif %}
</div>