
    <table id="user_table" class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="p-4">
                    <div class="flex items-center">
                        <input disabled id="checkbox-all-search" type="checkbox"
                            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                        <label for="checkbox-all-search" class="sr-only">checkbox</label>
                    </div>
                </th>
                <th scope="col" class="px-6 py-3">
                    {{ _("Name") }}
                </th>
                <th scope="col" class="px-6 py-3">
                    {{ _("Expires") }}
                </th>
                <th scope="col" class="px-6 py-3">
                    {{ _("Invite Code") }}
                </th>
                <th scope="col" class="px-6 py-3">
                    {{ _("Actions") }}}
                </th>
            </tr>
        </thead>
        <tbody>
            {% for user in users%}
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                <td class="w-4 p-4">
                    <div class="flex items-center">
                        <input disabled id="checkbox-table-search-1" type="checkbox"
                            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                        <label for="checkbox-table-search-1" class="sr-only">checkbox</label>
                    </div>
                </td>
                <th scope="row" class="flex items-center px-6 py-4 text-gray-900 whitespace-nowrap dark:text-white">
                    <img class="w-10 h-10 rounded-full" src="{{ user.photo }}">
                    <div class="pl-3">
                        <div class="text-base font-semibold">{{ user.username }}</div>
                        <div class="font-normal text-gray-500">{% if user.email != "empty" %} {{ user.email }}{% endif
                            %}</div>
                    </div>
                </th>
                <td class="px-6 py-4">
                    {% if user.expires %} {{ (user.expires|string)[0:16] }}{% endif %}
                </td>
                <td class="px-6 py-4">
                {% if user.code != "None" %}{% if user.code != "empty" %}{{ user.code }}{% endif %}{% endif %}
                </td>
                <td class="px-6 py-4">
                    <button id="edit" class="inline-block" hx-get="/user/{{ user.id }}" hx-target="#modal-user" hx-swap="innerHTML"
                       onclick="document.getElementById('modal').classList.remove('hidden');" class="font-medium text-primary hover:underline">View</button>
                    <button id="delete" class="inline-block" hx-get="/users/table?delete={{ user.id }}"
                        hx-target="#user_table" hx-swap="outerHTML swap:0.5s"
                        hx-confirm="Are you sure you wish to remove {{ user.title }} from your server?">
                        Delete
                    </button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
