<!-- Users Table -->
<div class="overflow-x-auto">
    {% if users %}
    <table class="w-full whitespace-nowrap">
        <tbody>
            {% for user in users %}
            <tr tabindex="0" class="focus:outline-none h-16 rounded-lg border dark:bg-gray-800 dark:border-gray-700 text-gray-900 dark:text-white">

                {% if user.photo or user.username %}
                <td class="text-right">
                    <div class="flex items-center pl-5 space-x-4">
                        {% if user.photo or user.username %}
                        <div class="flex-shrink-0 w-10 h-10 rounded-lg bg-gray-50 overflow-hidden">
                            <img class="w-full h-full object-cover object-center" onerror="this.src='https://ui-avatars.com/api/?uppercase=true&name={{ user.username }}&length=1'" src="{{ user.photo }}" alt="Profile Picture">
                        </div>
                        {% endif %}
                        <div class="flex flex-col align-start">
                            {% if user.username %}
                            <span class="text-sm font-medium text-start">{{ user.username }}</span>
                            {% endif %}
                            {% if user.email %}
                            <span class="text-xs text-gray-500 text-start">{{ user.email }}</span>
                            {% endif %}
                        </div>
                    </div>
                </td>
                {% endif %}

                {% if user.expires %}
                <td class="pl-5">
                    <span class="py-3 px-3 text-sm focus:outline-none leading-none text-red-700 bg-red-100 rounded">
                        {{ (user.expires|string)[0:16] }}
                    </span>
                </td>
                {% endif %}

                {% if user.code != "None" and user.code != "empty" %}
                <td class="pl-5">
                    <span class="py-3 px-3 text-sm focus:outline-none leading-none rounded text-gray-600 bg-gray-100">
                        {{ user.code }}
                    </span>
                </td>
                {% endif %}

                <td class="p-5 block md:hidden text-center">
                    <button class="text-gray-600 text-sm leading-none py-3 px-5 bg-gray-100 rounded hover:bg-gray-200 focus:outline-none">View</button>
                </td>

                <td class="p-5 pr-8 hidden md:block text-right">
                    <div class="flex col justify-end">
                        <button class="focus:ring-2 p-2 rounded-md focus:outline-none" onclick="window.toggleMenu(this)" role="button" aria-label="option">
                            <i class="transition-all fa-solid fa-ellipsis"></i>
                        </button>
                        <div class="menu flex row overflow-hidden transition-all items-center space-x-2 ml-2" style="max-width: 0px;">
                            <button onclick="toast.errorToast('Edit Users not available yet')" class="bg-gray-600 focus:outline-none text-white font-medium rounded-lg px-4 py-2.5 text-sm dark:bg-gray-600">
                                {{ _("Edit") }}
                            </button>
                            <button onclick="toast.errorToast('Delete Users not available yet')" class="bg-primary focus:outline-none text-white font-medium rounded-lg px-4 py-2.5 text-sm dark:bg-primary">
                                {{ _("Delete") }}
                            </button>
                        </div>
                    </div>
                </td>
            </tr>

            <tr class="h-0 md:h-3"></tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p class="text-center dark:text-white">There are currently no users.</p>
    {% endif %}
</div>