<!-- notifications Table -->
<div class="mt-7 overflow-x-auto">
    {% if notifications %}
    <table class="w-full whitespace-nowrap">
        <tbody>
            {% for notification in notifications %}
            <tr tabindex="0" class="focus:outline-none h-16 rounded-lg border dark:bg-gray-800 dark:border-gray-700 text-gray-900 dark:text-white">

                {% if notification.name %}
                <td class="text-right">
                    <div class="flex flex-col items-start pl-5">
                        <p class="text-lg font-medium text-gray-900 dark:text-white">
                            {{ notification.name }}
                        </p>
                        <p class="text-sm text-gray-600 dark:text-gray-400">
                            {{ notification.type }}
                        </p>
                    </div>
                </td>
                {% endif %}

                <td class="p-5 block md:hidden text-center">
                    <button class="text-gray-600 text-sm leading-none py-3 px-5 bg-gray-100 rounded hover:bg-gray-200 focus:outline-none">View</button>
                </td>

                <td class="p-5 pr-8 text-right">
                    <div class="flex col justify-end">
                        <button class="focus:ring-2 p-2 rounded-md focus:outline-none" onclick="utils.toggleMenu(this)" role="button" aria-label="option">
                            <i class="transition-all fa-solid fa-ellipsis"></i>
                        </button>
                        <div class="menu flex row overflow-hidden transition-all items-center space-x-2 ml-2" style="max-width: 0px;">
                            <button hx-get="/partials/modals/edit-notification-agent?agent={{ notification.id }}" hx-target="#edit-modal" hx-trigger="click" id="edit-agent-button" class="bg-gray-600 focus:outline-none text-white font-medium rounded-lg px-4 py-2.5 text-sm dark:bg-gray-600">
                                {{ _("Edit") }}
                            </button>
                            <button hx-get="/partials/modals/delete-notification-agent?agent={{ notification.id }}" hx-target="#delete-modal" hx-trigger="click" id="delete-agent-button" class="bg-primary focus:outline-none text-white font-medium rounded-lg px-4 py-2.5 text-sm dark:bg-primary">
                                {{ _("Delete") }}
                            </button>
                        </div>
                    </div>
                </td>
            </tr>

            <tr class="h-0 md:h-3"></tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p class="text-center dark:text-white">There are currently no notification agents.</p>
    {% endif %}
</div>