<div hx-get="/partials/tables/admin-users" hx-trigger="load" hx-target="#admin_table" hx-swap="outerHTML" class="flex flex-col space-y-4 animate__animated animate__fadeIn">

    <!-- Users Table -->
    <div id="admin_table">
        <p id="error_message" class="hidden text-center dark:text-white"></p>
        <div id="loader" class="text-center" role="status">
            <i class="text-gray-900 dark:text-white fa-solid fa-spinner fa-spin fa-2xl"></i>
        </div>
    </div>

    <!-- Bottom Bar -->
    <div class="flex items-center justify-end space-x-2">
        <button hx-get="/partials/admin/account" hx-trigger="click" hx-target="#content" hx-swap="innerHTML" hx-push-url="/admin/account" class="bg-secondary hover:bg-secondary_hover focus:outline-none text-white font-medium rounded-lg px-5 py-2.5 text-sm dark:bg-secondary dark:hover:bg-secondary_hover">
            {{ _("My Account") }}
        </button>
        <button id="adduser" hx-get="" hx-target="" hx-trigger="click" hx-swap="innerHTML" class="bg-primary hover:bg-primary_hover focus:outline-none text-white font-medium rounded-lg px-5 py-2.5 text-sm dark:bg-primary dark:hover:bg-primary_hover">
            {{ _("Add Admin") }}
        </button>
    </div>

</div>