<div class="animate__animated animate__fadeIn">
    <form class="space-y-4 md:space-y-6" onsubmit="event.preventDefault(); saveSettings(this);">
        <div>
            <label for="discord_id" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ _("Discord Server ID") }}</label>
            <input type="text" name="discord_id" id="discord_id" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary focus:border-primary block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" value="{% if discord_id %}{{ discord_id }}{% endif %}" placeholder="Optional, leave empty to disable">
        </div>

        <div>
            <label for="discord_widget" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ _("Discord Widget") }}</label>
            <label class="relative inline-flex items-center cursor-pointer">
                <input id="discord_widget" type="hidden" name="discord_widget" value="{{ discord_widget }}">
                <input onchange="toggleSwitch(this)" type="checkbox" {% if discord_widget=='True' %}checked{% endif %} class="sr-only peer">
                <div class="w-14 h-7 bg-primary peer-focus:outline-none peer-focus:ring-4 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:left-[4px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-6 after:w-6 after:transition-all dark:border-gray-600 peer-checked:bg-primary"></div>
            </label>
        </div>

        <div class="flex items-center justify-end mt-4">
            <button type="submit" class="bg-primary hover:bg-red-100 focus:ring-4 focus:outline-none focus:ring-red-100 text-white font-medium rounded-lg px-5 py-2.5 text-sm">
                {{ _("Save") }}
            </button>
        </div>
    </form>
</div>

<script>
    function toggleSwitch(element) {
        document.getElementById('discord_widget').value = element.checked ? 'True' : 'False';
    }

    async function saveSettings(that) {
        utils.submitSpinner(that, true);

        let formData = new FormData(that);

        if (formData.get('discord_id') == '') {
            console.log('discord_id is empty');
        }

        await window.api.settings.updateSettings(formData);
        utils.submitSpinner(that, false);

        toast.infoToast("{{ _('Settings saved successfully!') }}");
        htmx.ajax('GET', '/partials/admin/settings/discord', { target: '#settings-content', swap: 'innerHTML' });
    }
</script>