<div class="animate__animated animate__fadeIn">
    <form class="space-y-4 md:space-y-6" hx-post="/partials/admin/settings/{{ template }}" hx-target="#settings-content" hx-swap="innerHTML">
        <div class="mb-6">
            <textarea name="custom_html" id="custom_html" placeholder="Optional, leave empty to disable" class="block w-full p-4 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 sm:text-md focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">{% if custom_html %}{{ custom_html }}{% endif %}</textarea>
        </div>

        <div class="flex items-center justify-end mt-4">
            <button type="submit" class="bg-primary hover:bg-primary_hover focus:outline-none text-white font-medium rounded-lg px-5 py-2.5 text-sm dark:bg-primary dark:hover:bg-primary_hover">
                {{ _("Save") }}
            </button>
        </div>
    </form>
</div>

<script>
    async function startTinyMCE() {
        await tinymce.remove('textarea#custom_html');
        await tinymce.init({
            branding: false,
            promotion: false,
            statusbar: false,
            border_width: 0,
            selector: 'textarea#custom_html',
            plugins: 'preview importcss searchreplace autolink autosave save directionality code visualblocks visualchars fullscreen link media codesample table charmap pagebreak nonbreaking anchor insertdatetime advlist lists wordcount help charmap quickbars emoticons',
            menubar: 'view help',
            toolbar: 'undo redo | bold italic underline strikethrough | fontfamily fontsize blocks | alignleft aligncenter alignright alignjustify | outdent indent |  numlist bullist | forecolor backcolor removeformat | pagebreak | charmap emoticons | fullscreen  preview save | image media template link anchor codesample | ltr rtl',
            toolbar_sticky: false,
            autosave_ask_before_unload: true,
            autosave_interval: '30s',
            autosave_prefix: '{path}{query}-{id}-',
            autosave_restore_when_empty: false,
            autosave_retention: '2m',
            image_advtab: false,
            importcss_append: false,
            quickbars_selection_toolbar: 'bold italic | quicklink h2 h3 blockquote quickimage quicktable',
            noneditable_class: 'mceNonEditable',
            toolbar_mode: 'sliding',
            contextmenu: false,
            content_css: isDarkMode() ? 'dark' : 'default',
            skin_url: '/static/css/tinymce/' + (isDarkMode() ? 'dark' : 'light'),
        });
    }

    startTinyMCE();
</script>