<div class="flex flex-col">
    <div class="space-y-6">
        {% for section in sections %}
            {% if not section.roles or current_user.role in section.roles or current_user.role == "admin" %}
                <div class="settings-section">
                    <!-- Subtitle -->
                    <div class="flex flex-col">
                        <div class="text-lg font-bold leading-tight tracking-tight text-gray-900 md:text-xl dark:text-white">
                            {{ section.title }}
                        </div>
                        <div class="text-xs font-semibold leading-tight tracking-tight text-gray-900 md:text-sm dark:text-gray-400">
                            {{ section.description }}
                        </div>
                    </div>
                    <!-- End Subtitle -->

                    <!-- Settings Grid -->
                    <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mt-4">
                        {% for page in section.pages %}
                            {% if not page.roles or current_user.role in page.roles or current_user.role == "admin" %}
                                {% with title=page.title, description=page.description, icon=page.icon, url=page.url, push_url=page.push_url %}
                                    {% include "templates/settings_item.html" %}
                                {% endwith %}
                            {% endif %}
                        {% endfor %}
                    </div>
                    <!-- End Settings Grid -->
                </div>
            {% endif %}
        {% endfor %}

        <div id="settings-no-results" class="hidden text-center text-gray-500 dark:text-gray-400 pb-2">
            {{ _("No settings matched your search.")}}
        </div>
    </div>

</div>