<form class="space-y-4 md:space-y-6" hx-post="/api/settings" hx-headers='{"hx-Template": "requests"}' hx-target="#settings-content" hx-swap="innerHTML">
    <div>
        <label for="requests_type" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ _("Request Server") }}</label>
        <select name="request_type" id="request_type" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary focus:border-primary block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            <option {% if not request_type %} selected {% endif %} value="">{{ _("Disabled") }}</option>
            <option {% if request_type=="jellyseerr" %} selected {% endif %} value="jellyseerr" {% if server_type=="plex" %} disabled {% endif%}>Jellyseerr</option>
            <option {% if request_type=="overseerr" %} selected {% endif %} value="overseerr" {% if server_type=="jellyfin" %} disabled {% endif%}>Overseerr</option>
            <option {% if request_type=="ombi" %} selected {% endif %} value="ombi">Ombi</option>
            </option>
        </select>
    </div>

    <div class="hidden">
        <label for="request_url" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ _("Request Server URL") }}</label>
        <input type="url" name="request_url" id="request_url" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary focus:border-primary block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" value="{% if request_url %}{{ request_url }}{% endif %}" placeholder="Optional, leave empty to disable" autocomplete="off">
    </div>

    <div class="hidden">
        <label for="request_api_key" class="block mb-1 text-sm font-medium text-gray-900 dark:text-white">{{ _("Request Server API Key") }}</label>
        <input type="password" name="request_api_key" id="request_api_key" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary focus:border-primary block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" value="{% if request_api_key %}{{ request_api_key }}{% endif %}" placeholder="XXXXXXXXXXXXXXXXX" autocomplete="off">
    </div>

    <div class="flex items-center justify-end mt-4">
        <button type="submit" class="bg-primary hover:bg-amber-700 focus:ring-4 focus:outline-none focus:ring-amber-300 text-white font-medium rounded-lg px-5 py-2.5 text-sm dark:bg-primary dark:hover:bg-amber-700 dark:focus:ring-primary_hover">
            {{ _("Save") }}
        </button>
    </div>
</form>