[
    {
        "id": "THE VARIABLE YOU WILL ACCESS THE DATA WITH INSIDE THE TEMPLATE",
        "path": "THE HTTP PATH TO THE TEMPLATE",
        "tables": [
            "THE TABLES YOU WANT TO ACCESS"
        ]
    },
    {
        "id": "discord_bot",
        "path": "/admin/settings/discord-bot",
        "tables": [
            "discord"
        ],
        "options": {
            "first_only": true
        }
    }
]