{% extends "templates/base.html" %}

{% block title %}
Setup Wizarr
{% endblock %}

{% block main %}
<div id="create-modal" style="position: fixed; z-index: 100"></div>

<div class="flex justify-center items-center flex-col mt-12 mb-3 space-y-2">
    <img style="width: 150px;" src="/static/img/wizard.png" alt="logo"></span>
    <h1 class="text-3xl font-semibold text-center text-gray-900 dark:text-white">{{ _("Setup") }} Wizarr</h1>
</div>

<div id="carousel" class="relative overflow-hidden rounded h-screen" style="transition: max-height 0.5s ease-in-out;">
    {% for partial in partials %}
    <div id="carousel-item-{{ loop.index }}" class="hidden duration-700 ease-in-out bg-gray-100 dark:bg-gray-900" data-current="{{ partial }}">
        <section class="bg-gray-50 dark:bg-gray-900">
            <div class="flex flex-col items-center justify-center w-full md:w-2/3 lg:w-4/12 py-8 md:mx-auto md:container px-2 sm:px-4 md:px-0">
                <div class="relative w-full bg-white rounded shadow dark:border dark:bg-gray-800 dark:border-gray-700">
                    <!-- Disabled overlay -->
                    <div id="disabled" class="hidden z-10 rounded bg-white dark:bg-gray-800 absolute opacity-60 w-full h-full top-0 bottom-0 left-0 right-0"></div>
                    <div id="spinner" class="hidden z-10 rounded text-gray-900 dark:text-white bg-white dark:bg-gray-800 absolute opacity-80 w-full h-full top-0 bottom-0 left-0 right-0 flex flex-col space-y-2 justify-center items-center">
                        <i class="fas fa-spinner fa-spin fa-3x fa-fw"></i>
                        <span>Please wait...</span>
                    </div>
                    <div class="p-6 space-y-4 md:space-y-6 sm:p-8 text-gray-900 dark:text-white">
                        {% include partial %}
                    </div>
                </div>
            </div>
        </section>
    </div>
    {% endfor %}
</div>

<div id="navBtns" class="hidden flex justify-center mb-6 space-x-2">
    <button id="backBtn" onclick="carousel.prev()" class="bg-primary hover:bg-primary_hover focus:outline-none text-white font-medium rounded px-5 py-2.5 text-sm dark:bg-primary dark:hover:bg-primary_hover">Back</button>
    <button id="nextBtn" onclick="carousel.next()" class="bg-primary hover:bg-primary_hover focus:outline-none text-white font-medium rounded px-5 py-2.5 text-sm dark:bg-primary dark:hover:bg-primary_hover">Next</button>
</div>

<div class="fixed flex right-3 bottom-6 group z-50">
    <div id="speed-dial-menu-horizontal" class="flex items-center mr-4 space-x-2">
        <button type="button" onclick="reset()" class="flex items-center justify-center text-white bg-primary rounded-full w-14 h-14 focus:outline-none">
            <i class="fa-solid fa-rotate"></i>
        </button>
    </div>
</div>

<script type="module">

    const reset = () => {
        const confirm = window.confirm("This will reset progress and restart the setup wizard if your facing issues! Are you sure you want to continue?");
        if (!confirm) return;
        localStorage.clear();
        window.location.href = '/setup';
    }

    // A function to wait for the carousel to load
    const waitForCarousel = async () => {
        if (window.Carousel) {
            return;
        } else {
            await new Promise(resolve => setTimeout(resolve, 100));
            return waitForCarousel();
        }
    };

    // Get the carousel and all the divs inside it with id's that start with carousel-item
    const carousel = document.getElementById('carousel');
    const carouselItems = carousel.querySelectorAll('div[id^="carousel-item"]');

    // Get the setup progress from the api
    const progressResponse = await api.axios.get('/api/setup/status');
    const progress = progressResponse.data;

    console.log(progress);

    // Store the carousel items in an array
    const carouselItemsArray = [];

    // Loop through the carousel items and add them to the array
    carouselItems.forEach((el, index) => {
        carouselItemsArray.push({
            el: el,
            position: index
        });
    });

    // Create a function to adjust the height of the carousel
    const adjustHeight = () => {
        console.log('adjusting height');
        const active = window.carousel._getActiveItem();
        const child = active.el.children[0];
        const childHeight = child.offsetHeight;

        console.log(childHeight, child);

        const oldTransition = carousel.style.transition;
        carousel.style.transition = 'max-height 0.1s ease-in-out';

        carousel.style.maxHeight = childHeight + 'px';

        setTimeout(() => { carousel.style.transition = oldTransition }, 100);
    };

    // Create an observer to watch for changes in height
    const heightObserver = new ResizeObserver((entries) => {
        if (entries[0].contentRect.height > carousel.offsetHeight) {
            adjustHeight();
        }
    });

    // Create a function to set the url
    const adjustUrl = (active) => {
        // Calculate the current step and retrieve the page name
        const current = active.el.dataset.current;
        const pattern = /^setup\/pages\/(.+)\.html$/;
        const match = current.match(pattern);

        // If no match is found, return
        if (!match) return;

        // Get the page name and set the url
        const page = match[1];
        const url = `/setup/${page}`;
        window.history.pushState({}, '', url);

        // Return the page name
        return page;
    };

    // Create a function to get the required index
    const getIndex = async (progress) => {
        const current = parseInt('{{ current }}') - 1;

        const getPageIndex = (pageName) => carouselItemsArray.findIndex(el => el.el.dataset.current.includes(pageName));

        const welcomeIndex = getPageIndex('welcome');
        const databaseIndex = getPageIndex('database');
        const accountsIndex = getPageIndex('accounts');
        const settingsIndex = getPageIndex('settings');
        const completeIndex = getPageIndex('complete');

        const setupComplete = progress.setup_required === false;
        const accountsComplete = progress.setup_stage.accounts;
        const settingsComplete = progress.setup_stage.settings;

        if (setupComplete) return completeIndex;

        if (!accountsComplete && !settingsComplete && current === welcomeIndex) return welcomeIndex;
        if (!accountsComplete && !settingsComplete && current === databaseIndex) return databaseIndex;
        if (!accountsComplete && !settingsComplete && current === accountsIndex) return accountsIndex;
        if (accountsComplete && !settingsComplete && current === settingsIndex) return settingsIndex;

        if (!accountsComplete && !settingsComplete) return accountsIndex;
        if (accountsComplete && !settingsComplete) return settingsIndex;
        if (accountsComplete && settingsComplete) return completeIndex;

        return welcomeIndex;
    };

    const onChange = async (step) => {
        // Adjust the height of the carousel to the height of the current step
        const active = step._getActiveItem();
        const child = active.el.children[0];
        const childHeight = child.offsetHeight;

        // If the height is enlarging animate it fast, if it's shrinking animate it slower
        if (childHeight > carousel.offsetHeight) {
            const transition = carousel.style.transition;
            carousel.style.transition = 'max-height 0.1s ease-in-out';
            carousel.style.maxHeight = childHeight + 'px';
            await new Promise(resolve => setTimeout(resolve, 100));
            carousel.style.transition = transition;
        } else {
            setTimeout(() => {
                carousel.style.maxHeight = childHeight + 'px';
            }, 300);
        }

        // Disable the back button if the first step is active and enable it if it's not
        const backBtn = document.getElementById('backBtn');

        if (step._getActiveItem().position == 0) {
            backBtn.disabled = true;
            backBtn.classList.add('opacity-50', 'cursor-not-allowed');
        } else {
            backBtn.disabled = false;
            backBtn.classList.remove('opacity-50', 'cursor-not-allowed');
        }

        // Hide both buttons if the last step is active and on specific steps
        const navBtns = document.getElementById('navBtns');
        const disabled = ['accounts', 'settings'];
        const page = adjustUrl(active);

        if (step._getActiveItem().position == carouselItems.length - 1 || disabled.includes(page)) {
            if (!navBtns.classList.contains('hidden')) {
                navBtns.classList.add('animate__animated', 'animate__fadeOut', 'animate__faster');
                navBtns.addEventListener('animationend', () => { navBtns.classList.add('hidden'); navBtns.classList.remove('animate__animated', 'animate__fadeOut') }, { once: true });
            }
        } else {
            if (navBtns.classList.contains('hidden')) {
                navBtns.classList.remove('hidden');
                navBtns.classList.add('animate__animated', 'animate__fadeIn', 'animate__faster');
                navBtns.addEventListener('animationend', () => { navBtns.classList.remove('animate__animated', 'animate__fadeIn') }, { once: true });
            }
        }

        // Aslong as carousel is not transitioning, observe the current step for changes in height
        carousel.addEventListener('transitionstart', heightObserver.unobserve(child));
        carousel.addEventListener('transitionend', heightObserver.observe(child));
    }

    const onNext = async (step) => {
        // If the a
    }

    // Create the carousel options
    const options = {
        defaultPosition: await getIndex(progress),
        onChange: onChange,
        onNext: onNext
    }

    // Wait for the carousel to load
    await waitForCarousel();

    // Create the carousel and event listeners
    window.addEventListener('resize', adjustHeight);
    window.carousel = new Carousel(carouselItemsArray, options);

</script>
{% endblock %}