<div class="flex justify-between items-center pb-3">
    <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
        {{ _("New OAuth") }}
    </h1>
</div>

<form class="space-y-4 md:space-y-6" onsubmit="addOAuth(this); event.preventDefault();">

    <div>
        <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ _("Name") }}</label>
        <input type="text" name="name" id="name" placeholder='Github' class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded focus:ring-primary focus:border-primary block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
    </div>

    <div>
        <label for="client_id" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ _("Client ID") }}</label>
        <input type="text" name="client_id" id="client_id" placeholder='1234567890' class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded focus:ring-primary focus:border-primary block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
    </div>

    <div>
        <label for="client_secret" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ _("Client Secret") }}</label>
        <input type="text" name="client_secret" id="client_secret" placeholder='1234567890' class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded focus:ring-primary focus:border-primary block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
    </div>

    <div>
        <label for="request_token_url" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ _("Request Token URL") }}</label>
        <input type="text" name="request_token_url" id="request_token_url" placeholder='' class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded focus:ring-primary focus:border-primary block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
    </div>

    <div>
        <label for="authorize_url" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ _("Authorize URL") }}</label>
        <input type="text" name="authorize_url" id="authorize_url" placeholder='' class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded focus:ring-primary focus:border-primary block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
    </div>

    <div>
        <label for="access_token_url" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ _("Access Token URL") }}</label>
        <input type="text" name="access_token_url" id="access_token_url" placeholder='' class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded focus:ring-primary focus:border-primary block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
    </div>

    <div>
        <label for="userinfo_url" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ _("User Info URL") }}</label>
        <input type="text" name="userinfo_url" id="userinfo_url" placeholder='' class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded focus:ring-primary focus:border-primary block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
    </div>

    <div class="flex justify-end pt-2 space-x-4">
        <button onclick="utils.closeModal(this)" type="button" class="inline-flex w-full justify-center rounded bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:mt-0 sm:w-auto">
            {{ _("Cancel") }}
        </button>
        <button type="submit" class="inline-flex w-full justify-center rounded bg-primary px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-primary_hover sm:ml-3 sm:w-auto">
            {{ _("Test & Create OAuth") }}
        </button>
    </div>
</form>

<script>

</script>