<div class="flex justify-between items-center pb-3">
    <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
        {{ _("New Agent") }}
    </h1>
</div>

<div id="alert-border-4" class="flex items-center p-2 mb-4 text-yellow-800 border-4 border-yellow-300 bg-yellow-50 dark:text-yellow-300 dark:bg-gray-800 dark:border-yellow-800" role="alert">
    <svg class="flex-shrink-0 w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
        <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
    </svg>
    <div class="ml-3 text-sm font-medium">
        {{ _('Please bear in mind that notification agents store sensitive information such as API keys and passwords in plain text.') }}
    </div>
</div>

<p class="mt-2 pb-2 text-sm text-red-600 dark:text-red-500">
    <span class="font-medium">{{ error }}</span>
</p>

<div id="notification_gui">
    <div class="text-center text-gray-600 dark:text-white w-full py-4">
        <i class="fas fa-2xl fa-spinner fa-spin"></i>
    </div>
</div>

<script>

    var notification_gui = document.querySelector('#notification_gui')

    // If notification_utils is not defined, then define it
    if (typeof window.notification_utils === 'undefined') {
        window.notification_utils = new utils.Notifications()
    }

    window.notification_utils.build_gui(notification_gui)
</script>