<div class="flex justify-between items-center pb-3">
    <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
        {{ _("Select Libraries") }}
    </h1>
</div>

<p class="{% if not error %}hidden{% endif %} mt-2 pb-2 text-sm text-red-600 dark:text-red-500">
    <span class="font-medium">{{ error }}</span>
</p>

<form class="space-y-4 md:space-y-6" hx-post="" hx-target="#settings-content" hx-swap="innerHTML" autocomplete="off">

    <input hidden name="library_count" id="library_count" type="number" value="0">
    {# <div id="libraries"></div> #}
    <ul class="grid w-full gap-6 md:grid-rows-3" id="libraries"></ul>

    <div class="flex justify-end pt-2 space-x-4">
        <button onclick="utils.closeModal(this)" type="button" class="inline-flex w-full justify-center rounded bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:w-auto">
            {{ _("Cancel") }}
        </button>
        <button type="submit" class="inline-flex w-full justify-center rounded bg-primary px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-primary_hover sm:w-auto">
            {{ _("Select Libraries") }}
        </button>
    </div>
</form>

<script defer>
    const libraries = new utils.scanLibraries({
        container: '#libraries',
        count: '#library_count',
    });
</script>