<!-- Wrapper -->
<div class="flex flex-col items-center justify-center md:pt-8">

    <!-- Border Box -->
    <div class="w-full {{ box_class }} rounded bg-none md:border dark:border-gray-700 light:border-gray-200">

        <!-- Padded Area -->
        <div class="md:p-8 animate__animated animate__fadeIn">

            <div class="space-y-3 md:space-y-4 md:pb-6">

                <!-- Header -->
                <div class="flex items-center justify-between {% if not self.box_header() | trim and not self.box_header_actions() | trim %}hidden{% endif %} border-b p-4 border-gray-200 dark:border-gray-600 md:p-0 md:border-none">
                    <div class="flex items-center">
                        <div class="flex flex-col justify-start">
                            <div class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                                {% block box_header %}
                                {% endblock %}
                            </div>
                            <div class="text-sm font-semibold leading-tight tracking-tight text-gray-900 md:text-md dark:text-gray-400">
                                {% block box_subheader %}
                                {% endblock %}
                            </div>
                        </div>
                    </div>
                    <div class="flex items-center justify-end space-x-2">
                        {% block box_header_actions %}
                        {% endblock %}
                    </div>
                </div>
                <!-- End Header -->

                {% if self.box_header() | trim and self.box_header_actions() | trim and seperator %}
                <!-- Separator -->
                <hr class="border-gray-200 dark:border-gray-700 hidden md:block">
                <!-- End Separator -->
                {% endif %}

            </div>

            <!-- Content -->
            <div class="p-6 md:p-0">
                {% block box_content %}
                {% endblock %}
            </div>
            <!-- End Content -->

            <!-- Footer -->
            <div class="flex items-center justify-between mb-6 md:mb-0 {% if not self.box_footer() | trim and not self.box_footer_actions() | trim %}hidden{% endif %} px-6 md:px-0">
                <div class="flex items-center">
                    {% block box_footer %}
                    {% endblock %}
                </div>
                <div class="flex items-center justify-end space-x-2">
                    {% block box_footer_actions %}
                    {% endblock %}
                </div>
            </div>
            <!-- End Footer -->

        </div>
        <!-- End Padded Area -->

    </div>
    <!-- End Border Box -->

</div>
<!-- End Wrapper -->