<div id="update-needed" class="z-50 absolute inset-0 flex items-center justify-center bg-gray-700 transition-opacity text-white flex flex-col space-y-2 {% if not APP_UPDATE %}hidden{% endif %}">
    <div class="flex flex-col items-center justify-center w-full md:w-2/3 lg:w-4/12 py-8 md:mx-auto md:container px-2 sm:px-4 md:px-0">
        <div class="relative w-full bg-white rounded shadow dark:border dark:bg-gray-800 dark:border-gray-700">
            <div class="p-6 space-y-4 sm:p-8 text-gray-900 dark:text-white">
                <span class="flex justify-center">
                    <i class="fas fa-exclamation-triangle text-5xl text-yellow-400"></i>
                </span>
                <div class="flex flex-col items-center justify-center space-y-1">
                    <h1 class="text-3xl font-semibold text-center text-gray-900 dark:text-white">{{ _("Update Required") }}</h1>
                    <p class="text-center">{{ _("Wizarr requires an update before you can continue.") }}</p>
                </div>
                <div class="flex justify-center mt-6 space-x-2">
                    <button onclick="window.location.reload()" class="bg-primary hover:bg-primary_hover focus:outline-none text-white font-medium rounded px-5 py-2.5 text-sm dark:bg-primary dark:hover:bg-primary_hover">{{ _("Reload") }}</button>
                </div>
                <span class="flex justify-center" style="margin-top: 10px">
                    <button id="ignoreUpdate" onclick="document.getElementById('update-needed').classList.add('hidden')" class="text-sm text-gray-500 hover:text-gray-700 dark:text-gray-400 dark:hover:text-gray-300">
                        {{ _("Ignore") }}
                    </button>
                </span>
            </div>
        </div>
    </div>
</div>