<h1 class="text-xl text-center font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
    {{ _("Settings") }}
</h1>
<form id="general-form" class="space-y-4 md:space-y-6" onsubmit="saveSettings(); event.preventDefault();">
    <div>
        <label for="server_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ _("Server Display Name") }}</label>
        <input type="server_name" name="server_name" id="server_name" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary focus:border-primary block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" value="{% if server_name %}{{ server_name }}{% endif %}" required="">
    </div>

    <div>
        <label for="server_type" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ _("Server") }}</label>
        <select name="server_type" id="server_type" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary focus:border-primary block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            <option {% if not server_type %} selected {% endif %} disabled>Choose a server</option>
            <option {% if server_type=="jellyfin" %} selected {% endif %} value="jellyfin">Jellyfin (or Emby)</option>
            <option {% if server_type=='plex' %} selected {% endif %} value="plex">Plex Media Server</option>
        </select>
    </div>

    <div>
        <label for="server_url" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ _("Server URL") }}</label>
        <input type="server_url" name="server_url" id="server_url" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary focus:border-primary block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" value="{% if server_url %}{{ server_url }}{% endif %}" required="" autocomplete="url">
    </div>

    <div>
        <label for="server_api_key" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ _("Server Token / API Key") }}</label>
        <input type="password" name="server_api_key" id="server_api_key" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary focus:border-primary block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" value="{% if server_api_key %}{{ server_api_key }}{% endif %}" placeholder="XXXXXXXXXXXXXXXXX" required="" autocomplete="off">
    </div>

    <div>
        <label for="libraries" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ _("Server Libraries") }}</label>
        <button hx-get="/partials/modals/update-libraries" hx-target="#create-modal" hx-trigger="click" hx-swap="innerHTML" id="scan-libraries-button" class="bg-primary hover:bg-primary_hover focus:outline-none text-white font-medium rounded-lg px-5 py-2.5 text-sm dark:bg-primary dark:hover:bg-primary_hover">
            {{ _("Scan For Libraries") }}
        </button>
    </div>

    <input type="hidden" name="server_verified" value="true">

    <div class="flex items-center justify-end mt-4">
        <button type="submit" class="bg-primary hover:bg-primary_hover focus:outline-none text-white font-medium rounded-lg px-5 py-2.5 text-sm dark:bg-primary dark:hover:bg-primary_hover">
            {{ _("Save") }}
        </button>
    </div>
</form>

<script>
let server_type = document.getElementById('server_type');
let server_url = document.getElementById('server_url');
let server_api_key = document.getElementById('server_api_key');

let scan_libraries_button = document.getElementById('scan-libraries-button');

function check_fields() {
    if (server_type.selectedIndex == 0 || !server_url.value || !server_api_key.value) {
        scan_libraries_button.disabled = true;
    } else {
        scan_libraries_button.disabled = false;
    }
}

let temp = {};

server_type.addEventListener('focus', () => {
    temp[server_type.value] = {
        server_url: server_url.value,
        server_api_key: server_api_key.value
    }
});

server_type.addEventListener('change', () => {
    if (temp[server_type.value]) {
        server_url.value = temp[server_type.value].server_url;
        server_api_key.value = temp[server_type.value].server_api_key;
    } else {
        server_url.value = '';
        server_api_key.value = '';
    }
    check_fields();
});

server_url.addEventListener('keyup', check_fields);
server_api_key.addEventListener('keyup', check_fields);
server_url.addEventListener('change', check_fields);
server_api_key.addEventListener('change', check_fields);

check_fields();

async function saveSettings() {
    var form = document.getElementById('general-form');
    var formData = new FormData(form);

    var response = await fetch('/api/settings', {
        method: 'POST',
        body: formData,
        credentials: 'same-origin',
        headers: {
            'X-CSRF-TOKEN': getCookie('csrf_access_token'),
        },
    });

    if (response.status != 200) {
        alert(data.message);
    }

    var data = await response.json();

    carousel.next();
}
</script>