<!DOCTYPE html>

<html>

<head>
  <meta charset="utf-8">
  <script src="https://cdn.tailwindcss.com"></script>

  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">

  <meta name="viewport" content="initial-scale=1, width=device-width, viewport-fit=cover, user-scalable=no">

  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="HandheldFriendly" content="true" />

  <meta name="robots" content="noindex">
</head>

<body class="bg-gray-50 dark:bg-gray-900">
  {% block main %}

  {% endblock %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.min.js"></script>
</body>


</html>