<!DOCTYPE html>

<html>

<head>
  <meta charset="utf-8">
  <script src="https://cdn.tailwindcss.com"></script>

  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">

  <meta name="viewport" content="initial-scale=1, width=device-width, viewport-fit=cover, user-scalable=no">

  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="HandheldFriendly" content="true" />

  <meta name="robots" content="noindex">
  <nav class="bg-white border-gray-200 px-4 lg:px-6 py-2.5 dark:bg-gray-800">
    <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl">
      <a href="#" class="flex items-center">
        <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">{{ header_name }}</span>
      </a>
    </div>
  </nav>
</head>

<body class="bg-white dark:bg-gray-900">
  {% block main %}

  {% endblock %}
</body>

</html>