{% extends "base.html" %}

{% block title %}
Invite User
{% endblock %}

{% block main %}

<section class="bg-gray-50 dark:bg-gray-900">
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto lg:py-0">
        <a href="#" class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white">
            Wizarr
        </a>
        <div
            class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                    Invite user
                </h1>

            </div>
        </div>
    </div>
    <br>
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto lg:py-0">
        <table class="shadow-2xl rounded-2xl w-full text-sm text-left text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="py-3 px-6">
                        Invite Code
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Used
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Used At
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Created
                    </th>
                    <th scope="col" class="py-3 px-6">
                        User
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for invite in invitations %}
                <tr
                    class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                    <td class="py-4 px-6">{{ invite.code }}</td>
                    <td class="py-4 px-6">{{ invite.used }}</td>
                    <td class="py-4 px-6">{{ invite.used_at }}</td>
                    <td class="py-4 px-6">{{ invite.created }}</td>
                    <td class="py-4 px-6">{{ invite.used_by }}</td>
                    <td class="py-4 px-6"><a class="font-bold" href="/invite/delete={{ invite.code }}">Delete</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</section>
{% endblock %}