{% extends "templates/base.html" %}

{% block title %}
{{ _("Forgot Password") }}
{% endblock %}

{% block main %}

<div class="flex flex-wrap items-start md:items-center justify-center mx-auto mt-20 md:mt-0 md:h-screen">
    <nav class="bg-white dark:bg-gray-900 absolute w-full z-20 top-0 left-0 border-b border-gray-200 dark:border-gray-600">
        <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
            <a href="/" class="flex items-center">
                <img src="/static/img/wizard.png" class="h-8 mr-3" alt="Logo">
                <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Wizarr</span>
            </a>
            <div class="flex md:order-2">
                <a href="/" class="bg-primary hover:bg-primary_hover focus:outline-none text-white font-medium rounded-lg px-6 py-1.5 text-sm dark:bg-primary dark:hover:bg-primary_hover">
                    Homepage
                </a>
            </div>
        </div>
    </nav>

    <section class="flex flex-col items-center justify-center px-6 py-8 mx-auto lg:py-0 w-full">
        <div class="w-full rounded-lg md:mt-0 sm:max-w-md xl:p-0 md:shadow dark:bg-transparent md:bg-white md:dark:border md:dark:border-gray-700">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                    {{ _("Forgot your password?") }}
                </h1>
                <p class="text-sm text-gray-600 dark:text-gray-400">
                    {{ _("No worries, contact the administrator to reset your password.") }}
                </p>
                <p class="text-sm text-gray-600 dark:text-gray-400">
                    {{ _("If you are the administrator, you can reset a password by running the following script:") }}
                </p>
                <div class="px-2 py-1.5 text-xs font-semibold text-gray-800 bg-gray-100 border border-gray-200 rounded-lg dark:bg-gray-600 dark:text-gray-100 dark:border-gray-500" style='font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !important;'>
                    python manage.py reset_password --username john
                </div>
                <button onclick="window.history.back()" class="w-full text-white bg-primary hover:bg-primary_hover focus:ring-4 focus:outline-none focus:ring-amber-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary dark:hover:bg-primary_hover dark:focus:ring-primary_hover">{{ _("Go Back") }}</button>
            </div>
        </div>
        <div class="container flex flex-col items-center justify-center mx-auto text-secondary py-2 text-xs">
            <div>
                <a href="{{ APP_GITHUB_URL }}">{{ APP_NAME }}</a>&nbsp;-&nbsp;{{ _('Version') }}&nbsp;<a href="{{ APP_GITHUB_URL }}/releases/tag/{{ APP_VERSION }}">{{ APP_VERSION }}</a>&nbsp;-&nbsp;{{ APP_RELEASED }}
            </div>
            <div style="font-size: 10px;" class="cursor-pointer select-none">
                <a onclick="window.toggleColorTheme()">{{ _('Toggle Theme') }}</a>
            </div>
        </div>
    </section>
</div>

<style>
    body {
        padding: 0px !important;
    }
</style>

{% endblock %}