{% extends "base.html" %}

{% block title %}{{ _('Home') }}{% endblock %}
{% block og_title %}{{ _(server_name) }}{% endblock %}

{% block main %}
<div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto md:h-screen">
    <nav class="bg-white dark:bg-gray-900 absolute w-full z-20 top-0 left-0 border-b border-gray-200 dark:border-gray-600">
        <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
            <a href="/" class="flex items-center">
                <img src="/static/img/wizard.png" class="h-8 mr-3" alt="Logo">
                <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Wizarr</span>
            </a>
            <div class="flex md:order-2">
                <a href="/login" class="bg-primary hover:bg-primary_hover focus:outline-none text-white font-medium rounded-lg px-6 py-2 text-sm dark:bg-primary dark:hover:bg-primary_hover">
                    {{ _('Login') }}
                </a>
            </div>
        </div>
    </nav>

    <section class="bg-gray-50 dark:bg-gray-900 px-2 md:px-4 lg:px-6 xl:px-8 mt-28 md:mt-0">
        <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16">
            <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white">
                {{ _('Welcome to Wizarr') }}
            </h1>
            <p class="mb-8 text-lg font-normal text-gray-500 sm:px-16 lg:px-48 dark:text-gray-400">
                {{ _('Wizarr is a software tool that provides advanced user invitation and management capabilities for media servers such as Jellyfin, Emby, and Plex. With Wizarr, server administrators can easily invite new users and manage their access permissions.')}}
            </p>

            <p class="mb-8 text-sm font-bold text-gray-500 sm:px-16 lg:px-48 dark:text-gray-400">
                {{ _('If you were sent here by a friend, please request access or if you have an invite code, please click Get Started.')}}
            </p>
            <div class="flex flex-col space-y-2 sm:flex-row sm:justify-center sm:space-y-0 sm:space-x-3">
                <a href="/join" class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-primary hover:bg-primary_hover h-11">
                    Get started
                    <i class="ml-2 fas fa-arrow-right"></i>
                </a>

                <span class="inline-flex items-center text-gray-500 dark:text-gray-400 justify-center">
                    {{ _('or') }}
                </span>

                <a href="#" class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-gray-900 rounded-lg border border-gray-300 hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 dark:text-white dark:border-gray-700 dark:hover:bg-gray-700 dark:focus:ring-gray-800 h-11">
                    Request access
                </a>
            </div>
        </div>
    </section>
</div>
<style>
    body {
        padding: 0px !important;
    }
</style>
{% endblock %}