{% extends "base.html" %}

{% block title %}Invalid Invite{% endblock %}

{% block main %}

<section class="bg-gray-50 dark:bg-gray-900">
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto h-screen lg:py-0">
    <a href="#" class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white">
      {{ _(server_name) }}
    </a>
    <div
      class="w-full bg-white rounded-lg shadow-sm dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
          {{ _("Invalid Invitation") }}
        </h1>
        <p class="mt-2 text-sm text-red-600 dark:text-red-500"><span class="font-medium">
            {{ _(error) }}
        </p>
      </div>
    </div>
  </div>
</section>

{% endblock %}