{% extends "base.html" %}

{% block title %}
Invite User
{% endblock %}

{% block main %}

<section class="bg-gray-50 dark:bg-gray-900">
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto lg:py-0">
        <a href="#" class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white">
            Wizarr
        </a>
        <div
            class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                    Invite user
                </h1>
                {% if not link %}
                <form class="space-y-4 md:space-y-6" action="/invite" method="post">
                    <div>
                        <label for="code" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Invite
                            Code String <a class="text-gray-500">(optional)</a></label>
                        <input minlength="6" maxlength="6" type="code" name="code" id="code"
                            class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-amber-600 focus:border-amber-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-amber-500 dark:focus:border-amber-500"
                            placeholder="XMFGEJI">
                    </div>
                    <button type="submit"
                        class="w-full text-white bg-amber-600 hover:bg-amber-700 focus:ring-4 focus:outline-none focus:ring-amber-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-amber-600 dark:hover:bg-amber-700 dark:focus:ring-amber-800">Create
                        Invitation</button>
                </form>
                {% endif %}
                {% if link %}
                <div>
                    <label for="link" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Successfully
                        generated an Invitation!</label>
                    <input disabled type="link" name="link" id="link"
                        class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-amber-600 focus:border-amber-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        value="{{ link }}">
                    <p hidden id="successfully_copied" class="mt-2 text-sm text-green-600 dark:text-green-500"><span class="font-medium">Great!</span> Link has been copied to clipboard!</p>

                </div>
                <div class="flex">
                    <div class="w-1/2 text-center">
                        <a href="/invite">
                            <button type="back"
                                class="w-3/4 text-amber-400 hover:text-white border border-amber-400 hover:bg-amber-500 focus:ring-4 focus:outline-none focus:ring-amber-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:border-amber-300 dark:text-amber-300 dark:hover:text-white dark:hover:bg-amber-400 dark:focus:ring-amber-900">Back</button>
                        </a>
                    </div>
                    <div class="w-1/2 text-center">
                        <button onclick="copyLink()" type="share"
                            class="w-3/4 text-white bg-amber-600 hover:bg-amber-700 focus:ring-4 focus:outline-none focus:ring-amber-300 font-medium rounded-lg text-sm px-3 py-2.5 text-center dark:bg-amber-600 dark:hover:bg-amber-700 dark:focus:ring-amber-800">Share</button>

                    </div>

                </div>

                {% endif %}
            </div>
        </div>
    </div>
    <br>
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto lg:py-0">
        <table class="shadow-2xl rounded-2xl w-full text-sm text-left text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="py-3 px-6">
                        Invite Code
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Used
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Used At
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Created
                    </th>
                    <th scope="col" class="py-3 px-6">
                        User
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for invite in invitations %}
                <tr
                    class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                    <td class="py-4 px-6">{{ invite.code }}</td>
                    <td class="py-4 px-6">{{ invite.used }}</td>
                    <td class="py-4 px-6">{{ invite.used_at }}</td>
                    <td class="py-4 px-6">{{ invite.created }}</td>
                    <td class="py-4 px-6">{{ invite.used_by }}</td>
                    <td class="py-4 px-6"><a class="font-bold" href="/invite/delete={{ invite.code }}">Delete</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</section>

<script>
    function copyLink() {
        // Get the text field
        var copyText = document.getElementById("link");

        // Select the text field
        copyText.select();
        copyText.setSelectionRange(0, 99999); // For mobile devices

        // Copy the text inside the text field
        navigator.clipboard.writeText(copyText.value);
        
        copyText.className = "bg-green-50 border border-green-500 text-green-900 placeholder-green-700 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-green-100 dark:border-green-400";
        document.getElementById("successfully_copied").hidden = false;

    }
</script>
{% endblock %}