{% extends "base.html" %}

{% block title %}
Join jaseroque
{% endblock %}

{% block main %}

<section class="bg-gray-50 dark:bg-gray-900">
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
        <a href="#" class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white">
            Great! Now, let's get you invited!
        </a>
        <div
            class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                    Join the Plex Server
                </h1>
                <form class="space-y-4 md:space-y-6" action="/join" method="post">
                    {% if email_error %}
                    <div>
                        <label for="username-error"
                            class="block mb-2 text-sm font-medium text-red-700 dark:text-red-500">Your Plex email</label>
                        <input type="email" name="email" id="email"
                            class="bg-red-50 border border-red-500 text-red-900 placeholder-red-700 text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-full p-2.5 dark:bg-red-100 dark:border-red-400"
                            value="{{ email }}" required="">
                        <p class="mt-2 text-sm text-red-600 dark:text-red-500"><span class="font-medium">Oops!</span>
                            {{ email_error }}</p>
                    </div>
                    {% endif %}
                    {% if not email_error %}
                    <div>
                        <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your
                            Plex email</label>
                        <input type="email" name="email" id="email"
                            class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-amber-600 focus:border-amber-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            placeholder="john.doe@mail.com" required="">
                    </div>
                    {% endif %}
                    {% if not code_error %}
                    <div>
                        <label for="code" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Invite
                            Code</label>
                        <input type="code" name="code" id="code"
                            class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-amber-600 focus:border-amber-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            placeholder="XMFGEJI" value="{{ code }}" required="">
                    </div>
                    {% endif %}
                    {% if code_error %}
                    <div>
                        <label for="username-error"
                            class="block mb-2 text-sm font-medium text-red-700 dark:text-red-500">Invite
                            Code</label>
                        <input type="code" name="code" id="code"
                            class="bg-red-50 border border-red-500 text-red-900 placeholder-red-700 text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-full p-2.5 dark:bg-red-100 dark:border-red-400"
                            placeholder="XMFGEJI" required="">
                        <p class="mt-2 text-sm text-red-600 dark:text-red-500"><span class="font-medium">Oops!</span>
                            {{ code_error }}</p>
                    </div>
                    {% endif %}
                    <button type="submit"
                        class="w-full text-white bg-amber-600 hover:bg-amber-700 focus:ring-4 focus:outline-none focus:ring-amber-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-amber-600 dark:hover:bg-amber-700 dark:focus:ring-amber-800">Join</button>
                    <p class="text-sm font-light text-gray-500 dark:text-gray-400">
                        Don't have a Plex account, yet? <a href="https://www.plex.tv/sign-up/"
                            class="font-medium text-amber-600 hover:underline dark:text-amber-500">Get one here.</a>
                    </p>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}