{% extends "templates/base.html" %}

{% block title %}
{{ _("Login") }}
{% endblock %}

{% block main %}

<div class="flex flex-wrap items-start md:items-center justify-center mx-auto mt-20 md:mt-0 md:h-screen">
    <nav class="bg-white dark:bg-gray-900 absolute w-full z-20 top-0 left-0 border-b border-gray-200 dark:border-gray-600">
        <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
            <a href="/" class="flex items-center">
                <img src="/static/img/wizard.png" class="h-8 mr-3" alt="Logo">
                <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Wizarr</span>
            </a>
            <div class="flex md:order-2">
                <a href="/" class="bg-primary hover:bg-primary_hover focus:outline-none text-white font-medium rounded-lg px-6 py-1.5 text-sm dark:bg-primary dark:hover:bg-primary_hover">
                    Homepage
                </a>
            </div>
        </div>
    </nav>

    <section class="flex flex-col items-center justify-center px-6 py-8 mx-auto lg:py-0 w-full">
        <div class="w-full rounded-lg md:mt-0 sm:max-w-md xl:p-0 md:shadow dark:bg-transparent md:bg-white md:dark:border md:dark:border-gray-700">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                    {{ _("Login") }}
                </h1>
                <form class="space-y-4 md:space-y-6" onsubmit="event.preventDefault(); login(this);">
                    <div>
                        <label for="username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ _("Username") }}</label>
                        <input type="username" name="username" id="username" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary focus:border-primary block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="marvin" required="" autocomplete="username" autofocus>
                    </div>
                    <div>
                        <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ _("Password") }}</label>
                        <input type="password" name="password" id="password" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary focus:border-primary block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required="" autocomplete="pasword">
                        <div>
                            <a href="/forgot-password" class="text-sm text-gray-500 hover:text-gray-700 dark:text-gray-300 dark:hover:text-gray-100">
                                {{ _("Forgot your password?") }}
                            </a>
                        </div>
                    </div>
                    <div class="flex items-center justify-between">
                        <div class="flex items-start">
                            <div class="flex items-center h-5">
                                <input name="remember" id="remember" aria-describedby="remember" type="checkbox" class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-amber-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-primary dark:ring-offset-gray-800">
                            </div>
                            <div class="ml-3 text-sm">
                                <label for="remember" class="text-gray-500 dark:text-gray-300">{{ _("Remember me") }}</label>
                            </div>
                        </div>
                    </div>
                    <div id="error" class="text-red-500 text-center"></div>
                    <button type="submit" class="w-full text-white bg-primary hover:bg-primary_hover focus:ring-4 focus:outline-none focus:ring-amber-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary dark:hover:bg-primary_hover dark:focus:ring-primary_hover">{{ _("Sign in") }}</button>
                </form>
            </div>
        </div>
        <div class="container flex flex-col items-center justify-center mx-auto text-secondary py-2 text-xs">
            <div>
                <a href="{{ APP_GITHUB_URL }}">{{ APP_NAME }}</a>&nbsp;-&nbsp;{{ _("Version") }}&nbsp;<a href="{{ APP_GITHUB_URL }}/releases/tag/{{ APP_VERSION }}">{{ APP_VERSION }}</a>&nbsp;-&nbsp;{% if APP_RELEASED %} {{ _("Stable") }} {% else %} {{ _("Beta") }} {% endif %}
            </div>
            <div style="font-size: 10px;" class="cursor-pointer select-none">
                <a onclick="window.toggleColorTheme()">{{ _("Toggle Theme") }}</a>
            </div>
        </div>
    </section>
</div>

<style>
    body {
        padding: 0px !important;
    }
</style>

<script>
    async function login(that) {
        const form = new FormData(that);

        window.utils.submitSpinner(that, true);

        form.delete("remember");

        if (!document.getElementById("remember").checked) {
            form.append("remember", false);
        } else {
            form.append("remember", true);
        }

        const response = await fetch("/api/auth/login", {
            method: "POST",
            body: form,
            credentials: "same-origin",
            headers: {
                "X-CSRF-TOKEN": getCookie("csrf_access_token"),
            },
        });

        if (response.status != 200) {
            window.utils.submitSpinner(that, false);
            error = await response.json();

            if (error.msg == undefined) {
                document.getElementById("error").innerHTML = "{{ _("Internal server error") }}";
                return;
            }

            document.getElementById("error").innerHTML = error.msg;
            return;
        }

        window.utils.submitSpinner(that, false);

        window.location.href = "/admin";
    }
</script>

{% endblock %}