{# templates/settings.html #}
<section class="bg-gray-50 dark:bg-gray-900 animate__animated animate__fadeIn">
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto">
        <div
            id="settings"
            class="animate__animated w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700"
        >
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                <div class="flex justify-between items-center">
                    <h1
                        class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white"
                    >
                        {{ _("Server Settings") }}
                    </h1>
                    {% if not setup_mode %}
                    <button
                        hx-get="{{ url_for('notify.list_agents') }}"
                        hx-trigger="click"
                        hx-target="#content"
                        hx-swap="innerHTML"
                    >
                        <!-- bell icon -->
                        <svg
                            class="w-6 h-6 dark:text-white"
                            fill="none"
                            stroke="currentColor"
                            viewBox="0 0 24 24"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0"
                            ></path>
                        </svg>
                    </button>
                    {% endif %}
                </div>

                {# flash messages #}
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, msg in messages %}
                            <div class="text-{{ 'green' if category=='success' else 'red' }}-600">
                                {{ msg }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}

                <form
                    method="post"
                    {% if setup_mode %}
                    hx-post="{{ url_for('setup.onboarding') }}"
                    {% else %}
                    hx-post="{{ url_for('settings.secure_settings') }}"
                    {% endif %}
                    hx-target="#content"
                    hx-swap="innerHTML"
                    class="space-y-4 md:space-y-6"
                >
                    {{ form.csrf_token }}

                    {# Server Display Name #}
                    <div>
                        {{ form.server_name.label(class="block mb-2 text-sm font-medium text-gray-900 dark:text-white") }}
                        {{ form.server_name(class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary focus:border-primary block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white") }}
                        {% for err in form.server_name.errors %}
                            <p class="mt-1 text-sm text-red-600 dark:text-red-500">{{ err }}</p>
                        {% endfor %}
                    </div>

                    {# Server Type #}
                    <div>
                        {{ form.server_type.label(class="block mb-2 text-sm font-medium text-gray-900 dark:text-white") }}
                        {{ form.server_type(class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary focus:border-primary block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white") }}
                        {% for err in form.server_type.errors %}
                            <p class="mt-1 text-sm text-red-600 dark:text-red-500">{{ err }}</p>
                        {% endfor %}
                    </div>

                    {# Server URL #}
                    <div>
                        {{ form.server_url.label(class="block mb-2 text-sm font-medium text-gray-900 dark:text-white") }}
                        {{ form.server_url(class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary focus:border-primary block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white") }}
                        {% for err in form.server_url.errors %}
                            <p class="mt-1 text-sm text-red-600 dark:text-red-500">{{ err }}</p>
                        {% endfor %}
                    </div>

                    {# API Key #}
                    <div>
                        {{ form.api_key.label(class="block mb-2 text-sm font-medium text-gray-900 dark:text-white") }}
                        {{ form.api_key(class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary focus:border-primary block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white", autocomplete="off", placeholder="XXXXXXXXXXXXXXXXX") }}
                        {% for err in form.api_key.errors %}
                            <p class="mt-1 text-sm text-red-600 dark:text-red-500">{{ err }}</p>
                        {% endfor %}
                    </div>

                    <div>
                        {{ form.libraries.label(class="block mb-2 text-sm font-medium text-gray-900 dark:text-white") }}
                        <a
                            id="scan-btn"
                            class="block mb-2 text-sm text-secondary dark:text-primary cursor-pointer"
                            hx-post="{{ url_for('settings.scan_libraries') }}"
                            hx-include="[name=server_type],[name=server_url],[name=api_key]"
                            hx-target="#libraries"
                            hx-swap="innerHTML"
                        >
                            {{ _("Scan For Libraries") }}
                        </a>

                        <div id="libraries" class="space-y-2">
                            {# server-side pre-population still works exactly as you have it #}
                            …
                        </div>

                        {% for err in form.libraries.errors %}
                            <p class="mt-1 text-sm text-red-600 dark:text-red-500">{{ err }}</p>
                        {% endfor %}
                    </div>

                    {# Overseerr / Ombi URL & API #}
                    <div>
                        {{ form.overseerr_url.label(class="block mb-2 text-sm font-medium text-gray-900 dark:text-white") }}
                        {{ form.overseerr_url(class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary focus:border-primary block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white", placeholder=_("Optional, leave empty to disable")) }}
                        {% for err in form.overseerr_url.errors %}
                            <p class="mt-1 text-sm text-red-600 dark:text-red-500">{{ err }}</p>
                        {% endfor %}
                    </div>

                    <div id="ombi_api" class="{% if not form.overseerr_url.data %}hidden{% endif %}">
                        {{ form.ombi_api_key.label(class="block mb-1 text-sm font-medium text-gray-900 dark:text-white") }}
                        {{ form.ombi_api_key(class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary focus:border-primary block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white", placeholder=_("Optional, leave empty to disable")) }}
                        {% for err in form.ombi_api_key.errors %}
                            <p class="mt-1 text-sm text-red-600 dark:text-red-500">{{ err }}</p>
                        {% endfor %}
                    </div>

                    {# Discord ID #}
                    <div>
                        {{ form.discord_id.label(class="block mb-2 text-sm font-medium text-gray-900 dark:text-white") }}
                        {{ form.discord_id(class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary focus:border-primary block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white", placeholder=_("Optional, leave empty to disable")) }}
                        {% for err in form.discord_id.errors %}
                            <p class="mt-1 text-sm text-red-600 dark:text-red-500">{{ err }}</p>
                        {% endfor %}
                    </div>

                    {# Custom HTML #}
                    <div class="mb-6">
                        {{ form.custom_html.label(class="block mb-2 text-sm font-medium text-gray-900 dark:text-white") }}
                        {{ form.custom_html(class="block w-full p-4 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 sm:text-md focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white", placeholder=_("Optional, leave empty to disable")) }}
                        {% for err in form.custom_html.errors %}
                            <p class="mt-1 text-sm text-red-600 dark:text-red-500">{{ err }}</p>
                        {% endfor %}
                    </div>

                    {# Submit #}
                    <div>
                        <button
                            type="submit"
                            class="w-full text-white bg-primary hover:bg-amber-700 focus:ring-4 focus:outline-none focus:ring-amber-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary dark:hover:bg-amber-700 dark:focus:ring-primary_hover"
                        >
                            {{ _("Save") }}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<script>
    // show/hide Ombi field
    document.getElementById("requests_url").addEventListener("input", function () {
        const ombiDiv = document.getElementById("ombi_api");
        this.value ? ombiDiv.classList.remove("hidden") : ombiDiv.classList.add("hidden");
    });
</script>

<script>
    // when user types in field `requests_url`, and requests url is not empty, remove hiden form `ombi_api` div, if not add the hidden class
    document.getElementById("requests_url").addEventListener("input", function () {
        if (document.getElementById("requests_url").value != "") {
            document.getElementById("ombi_api").classList.remove("hidden");
        } else {
            document.getElementById("ombi_api").classList.add("hidden");
        }
    });


</script>