<section class="bg-gray-50 dark:bg-gray-900 animate__animated animate__fadeIn">
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto">
        <div
            id="settings"
            class="animate__animated w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                <div class="flex justify-between items-center">
                    <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                        {{ _("Server Settings") }}
                    </h1>

                    <button hx-get="/settings/notifications" hx-trigger="click" hx-target="#content"
                            hx-swap="innerHTML">
                        <svg class="w-6 h-6 dark:text-white" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                             xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                  d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0"></path>
                        </svg>
                    </button>
                </div>


                <p class="mt-2 text-sm text-red-600 dark:text-red-500"><span class="font-medium">{{ error }}</p>
                <form class="space-y-4 md:space-y-6" hx-post="{{ url_for(request.endpoint) }}" hx-target="#content"
                      hx-swap="innerHTML">
                    <div>
                        <label for="server_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ _("Server Display
                Name") }}</label>
                        <input type="server_name" name="server_name" id="server_name"
                               class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary focus:border-primary block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                               value="{% if server_name %}{{ server_name }}{% endif %}" required="">
                    </div>
                    <div>
                        <label for="server_type"
                               class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ _("Server") }}</label>
                        <select name="server_type" id="server_type"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary focus:border-primary block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                            <option {% if not server_type %} selected {% endif %} disabled>Choose a server</option>
                            <option {% if server_type == "jellyfin" %} selected {% endif %} value="jellyfin">Jellyfin
                                (or Emby)
                            </option>
                            <option {% if server_type == 'plex' %} selected {% endif %} value="plex">Plex Media Server
                            </option>
                        </select>
                    </div>
                    <div>
                        <label for=" server_url"
                               class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ _("Server URL") }}</label>
                        <input type="server_url" name="server_url" id="server_url"
                               class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary focus:border-primary block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                               value="{% if server_url %}{{ server_url }}{% endif %}" required="">
                    </div>
                    <div>
                        <label for="api_key" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ _("Server
                Token / API Key") }}</label>
                        <input type="password" name="api_key" id="api_key" autocomplete="off"
                               class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary focus:border-primary block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                               value="{% if api_key %}{{ api_key }}{% endif %}" placeholder="XXXXXXXXXXXXXXXXX"
                               required="">
                    </div>


                    <div>

                        <label for="plex_libraries"
                               class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ _("Server
                Libraries") }}</label>
                        <a href="#" class="block mb-2 text-sm font-medium text-secondary dark:text-primary"
                           onclick="scanLibraries()">{{ _("Scan For Libraries") }}</a>
                        <input hidden name="library_count" id="library_count" type="number" value="0">
                        <div class="" id="libraries">
                        </div>

                    </div>

                    <div id="requests_type_block">
                        <label for="requests_type"
                               class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ _("Request
                Server") }}</label>
                        <select name="request_type" id="request_type"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary focus:border-primary block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                            <option {% if not request_type %} selected {% endif %} value="">Disabled</option>
                            <option {% if request_type == "jellyseerr" %} selected {% endif %} value="jellyseerr" {% if server_type == "plex" %} disabled {% endif%}>Jellyseerr</option>
                            <option {% if request_type == "overseerr" %} selected {% endif %} value="overseerr" {% if server_type == "jellyfin" %} disabled {% endif%}>Overseerr</option>
                            <option {% if request_type == "ombi" %} selected {% endif %} value="ombi">Ombi</option>
                            </option>
                        </select>
                    </div>

                    <div id="request_url_block" class="hidden">
                        <label for="request_url"
                               class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ _("Request
                Server URL") }}</label>

                        <input type="url" name="request_url" id="request_url"
                               class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary focus:border-primary block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                               value="{% if request_url %}{{ request_url }}{% endif %}"
                               placeholder="Optional, leave empty to disable">
                    </div>

                    <div id="request_api_block" class="hidden">
                        <label for="request_api_key"
                               class="block mb-1 text-sm font-medium text-gray-900 dark:text-white">{{ _("Request
                Server API Key") }}</label>
                        <input type="password" name="request_api_key" id="request_api_key"
                               class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary focus:border-primary block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                               value="{% if request_api_key %}{{ request_api_key }}{% endif %}" placeholder="XXXXXXXXXXXXXXXXX">
                    </div>
                    
                    <div>
                        <label for="discord_id" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ _("Discord
                Server ID") }}</label>
                        <input type="text" name="discord_id" id="discord_id"
                               class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary focus:border-primary block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                               value="{% if discord_id %}{{ discord_id }}{% endif %}"
                               placeholder="Optional, leave empty to disable">
                    </div>
                    <div>
                        <label for="discord_widget" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ _("Discord
                Widget") }}</label>
                        <div class="switch">
                          <input type="checkbox" name="discord_widget" {% if discord_widget == "on" %} checked {% endif %} id="discord_toggle_checkbox">
                          <span class="slider round" id="discord_toggle"></span>
                        </div>
                    </div>
                    <div class="mb-6">
                        <label for="custom_html" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ _("Custom
                HTML") }}</label>
                        <input type="text" name="custom_html" id="custom_html"
                               value="{% if custom_html %}{{ custom_html }}{% endif %}"
                               placeholder="Optional, leave empty to disable"
                               class="block w-full p-4 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 sm:text-md focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    </div>
                    <button type="submit" hx-post="{{ url_for(request.endpoint) }}"
                            class="w-full text-white bg-primary hover:bg-amber-700 focus:ring-4 focus:outline-none focus:ring-amber-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary dark:hover:bg-amber-700 dark:focus:ring-primary_hover">{{ _("Save") }}</button>
                </form>
            </div>
        </div>
    </div>
</section>
<style>
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
</style>
<script>
    function scanLibraries() {
        document.getElementById('settings').classList.remove('animate__shakeX');
        if (document.getElementById("server_type").value == "jellyfin") {

            var container = document.getElementById("libraries");
            while (container.hasChildNodes()) {
                container.removeChild(container.lastChild);
            }
            var jellyfin_url = document.getElementById("server_url").value;

            //enocde the url
            jellyfin_url = encodeURIComponent(jellyfin_url);

            var jellyfin_api_key = document.getElementById("api_key").value;
            var url = "/jf-scan?jellyfin_url=" + jellyfin_url + "&jellyfin_api_key=" + jellyfin_api_key;

            var i = 0;

            fetch(url, {
                method: "POST"
            })
                .then((response) => response.json())
                .then(function (data) {
                    for (var [key, value] of Object.entries(data)) {
                        i = i + 1;
                        var checkbox = document.createElement("input");
                        checkbox.type = "checkbox";
                        checkbox.name = "library_" + i;
                        checkbox.className =
                            "w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600";
                        checkbox.value = value;
                        var label = document.createElement("label");
                        label.for = "library_" + i;
                        label.className = "ml-2 text-sm text-gray-600 dark:text-gray-400";
                        label.innerHTML = key;

                        var structure = document.createElement("div");
                        structure.className = "flex items-center mb-4";
                        container.appendChild(structure);
                        container.appendChild(checkbox);
                        container.appendChild(label);

                        var library_count_helper = document.getElementById("library_count");
                        library_count_helper.value = i;
                    }
                })
                .catch(function (error) {
                    var error_message = document.createElement("p");
                    error_message.innerHTML = "Error: Please Check Your Jellyfin URL and Token";
                    error_message.className = "mt-2 text-sm text-red-600 dark:text-red-500";
                    container.appendChild(error_message);
                    document.getElementById('settings').classList.add('animate__shakeX');
                })
        }


        if (document.getElementById("server_type").value == "plex") {

            var container = document.getElementById("libraries");
            while (container.hasChildNodes()) {
                container.removeChild(container.lastChild);
            }
            var plex_url = document.getElementById("server_url").value;
            var plex_token = document.getElementById("api_key").value;

            //encode the url
            plex_url = encodeURIComponent(plex_url);


            url = "/scan?plex_url=" + plex_url + "&plex_token=" + plex_token;
            const response = fetch(url, {
                method: "POST"
            }).then((response) => response.json())
                .then(function (data) {
                    for (var i = 0; i < data.length; i++) {
                        var checkbox = document.createElement("input");
                        checkbox.type = "checkbox";
                        checkbox.name = "library_" + i;
                        checkbox.className =
                            "w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600";
                        checkbox.value = data[i];
                        var label = document.createElement("label");
                        label.for = "library_" + i;
                        label.className = "ml-2 text-sm text-gray-600 dark:text-gray-400";
                        label.innerHTML = data[i];

                        var structure = document.createElement("div");
                        structure.className = "flex items-center mb-4";
                        container.appendChild(structure);
                        container.appendChild(checkbox);
                        container.appendChild(label);

                        var library_count_helper = document.getElementById("library_count");
                        library_count_helper.value = i;
                    }
                })
                .catch(function (error) {
                    var error_message = document.createElement("p");
                    error_message.innerHTML = "Error: Please Check Your Server URL and Token";
                    error_message.className = "mt-2 text-sm text-red-600 dark:text-red-500";
                    container.appendChild(error_message);
                    document.getElementById('settings').classList.add('animate__shakeX');
                })
        }
    }
</script>
<script>
    function scanLibraries() {
        document.getElementById('settings').classList.remove('animate__shakeX');
        if (document.getElementById("server_type").value == "jellyfin") {

            var container = document.getElementById("libraries");
            while (container.hasChildNodes()) {
                container.removeChild(container.lastChild);
            }
            var jellyfin_url = document.getElementById("server_url").value;

            //enocde the url
            jellyfin_url = encodeURIComponent(jellyfin_url);

            var jellyfin_api_key = document.getElementById("api_key").value;
            var url = "/jf-scan?jellyfin_url=" + jellyfin_url + "&jellyfin_api_key=" + jellyfin_api_key;

            var i = 0;

            fetch(url, {
                method: "POST"
            })
                .then((response) => response.json())
                .then(function (data) {
                    for (var [key, value] of Object.entries(data)) {
                        i = i + 1;
                        var checkbox = document.createElement("input");
                        checkbox.type = "checkbox";
                        checkbox.name = "library_" + i;
                        checkbox.className =
                            "w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600";
                        checkbox.value = value;
                        var label = document.createElement("label");
                        label.for = "library_" + i;
                        label.className = "ml-2 text-sm text-gray-600 dark:text-gray-400";
                        label.innerHTML = key;

                        var structure = document.createElement("div");
                        structure.className = "flex items-center mb-4";
                        container.appendChild(structure);
                        container.appendChild(checkbox);
                        container.appendChild(label);

                        var library_count_helper = document.getElementById("library_count");
                        library_count_helper.value = i;
                    }
                })
                .catch(function (error) {
                    var error_message = document.createElement("p");
                    error_message.innerHTML = "Error: Please Check Your Jellyfin URL and Token";
                    error_message.className = "mt-2 text-sm text-red-600 dark:text-red-500";
                    container.appendChild(error_message);
                    document.getElementById('settings').classList.add('animate__shakeX');
                })
        }


        if (document.getElementById("server_type").value == "plex") {

            var container = document.getElementById("libraries");
            while (container.hasChildNodes()) {
                container.removeChild(container.lastChild);
            }
            var plex_url = document.getElementById("server_url").value;
            var plex_token = document.getElementById("api_key").value;

            //encode the url
            plex_url = encodeURIComponent(plex_url);


            url = "/scan?plex_url=" + plex_url + "&plex_token=" + plex_token;
            const response = fetch(url, {
                method: "POST"
            }).then((response) => response.json())
                .then(function (data) {
                    for (var i = 0; i < data.length; i++) {
                        var checkbox = document.createElement("input");
                        checkbox.type = "checkbox";
                        checkbox.name = "library_" + i;
                        checkbox.className =
                            "w-4 h-4 text-blue-600 bg-gray-100 rounded border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600";
                        checkbox.value = data[i];
                        var label = document.createElement("label");
                        label.for = "library_" + i;
                        label.className = "ml-2 text-sm text-gray-600 dark:text-gray-400";
                        label.innerHTML = data[i];

                        var structure = document.createElement("div");
                        structure.className = "flex items-center mb-4";
                        container.appendChild(structure);
                        container.appendChild(checkbox);
                        container.appendChild(label);

                        var library_count_helper = document.getElementById("library_count");
                        library_count_helper.value = i;
                    }
                })
                .catch(function (error) {
                    var error_message = document.createElement("p");
                    error_message.innerHTML = "Error: Please Check Your Server URL and Token";
                    error_message.className = "mt-2 text-sm text-red-600 dark:text-red-500";
                    container.appendChild(error_message);
                    document.getElementById('settings').classList.add('animate__shakeX');
                })
        }
    }
</script>
<script>
    // Get the request type select and request url input elements
    var requestTypeSelect = document.getElementById("request_type");
    var requestUrlInput = document.getElementById("request_url");
    var requestApiInput = document.getElementById("request_api_key");

    var requestTypeBlock = document.getElementById("request_type_block");
    var requestUrlBlock = document.getElementById("request_url_block");
    var requestApiBlock = document.getElementById("request_api_block");

    // Function to handle the change event of the request type select
    function handleRequestTypeChange() {
      // Check if the request type select is set to an option
      if (requestTypeSelect.children[0].selected) {
        // Hide the request url input and request api input
        requestUrlBlock.style.display = "none";
        requestApiBlock.style.display = "none";
      } else {
        // Show the request url input
        requestUrlBlock.style.display = "block";

        // Check if the request url input is not empty
        if (requestUrlInput.value !== "") {
          // Show the request api input
          requestApiBlock.style.display = "block";
        } else {
          // Hide the request api input
          requestApiBlock.style.display = "none";
        }
      }
    }

    // Function to handle the input event of the request url input
    function handleRequestUrlInput() {
      // Check if the request url input is not empty
      if (requestUrlInput.value !== "") {
        // Show the request api input
        requestApiBlock.style.display = "block";
      } else {
        // Hide the request api input
        requestApiBlock.style.display = "none";
      }
    }

    // Add event listeners
    requestTypeSelect.addEventListener("change", handleRequestTypeChange);
    requestUrlInput.addEventListener("input", handleRequestUrlInput);

    // Run the initial check on page load
    handleRequestTypeChange();

</script>
<script>
    // Get the request_type select element and server_type select element
    var requestTypeSelect = document.getElementById("request_type");
    var serverTypeSelect = document.getElementById("server_type");

    // If server_type is set to "plex" (child 2) then set the request_type "jellyseerr" (child 1) to disabled
    // If server_type is set to "jellyfin" (child 1) then set the request_type "overseerr" (child 2) to disabled
    // If request_type is selected when attempting to disable it then set the request_type to (child 0)
    function handleServerTypeChange() {
      if (serverTypeSelect.children[2].selected) {
        requestTypeSelect.children[2].disabled = false;
        requestTypeSelect.children[1].disabled = true;

        if (requestTypeSelect.children[1].selected) {
            requestTypeSelect.children[0].selected = true;
            handleRequestTypeChange();
        }

      } else if (serverTypeSelect.children[1].selected) {
        requestTypeSelect.children[1].disabled = false;
        requestTypeSelect.children[2].disabled = true;

        if (requestTypeSelect.children[2].selected) {
            requestTypeSelect.children[0].selected = true;
            handleRequestTypeChange();
        }
      }
    }

    // Add event listener
    serverTypeSelect.addEventListener("change", handleServerTypeChange);
</script>
<script>
    var discord_toggle = document.getElementById("discord_toggle");
    var discord_toggle_checkbox = document.getElementById("discord_toggle_checkbox");

    discord_toggle.addEventListener("click", function () {
        if (discord_toggle_checkbox.checked == true) {
            discord_toggle_checkbox.checked = false;
        } else {
            discord_toggle_checkbox.checked = true;
        }
    });
</script>