{% extends "base.html" %}

{% block title %}
Download Plex
{% endblock %}

{% block main %}
<div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
  <div class="p-6 max-w-m bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
    <a href="#">
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ _("Join & Download Plex for this device")}}
      </h5>
    </a>
    <p class="mb-3 font-bold text-gray-700 dark:text-gray-400">
      {{ _("Great news! You now have access to our server's media collection. Let's make sure you know how to use it with Plex.") }}
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
      {{ _("Planning on watching Movies on this device? Download Plex for this device.") }}</p>
    <a href="https://www.plex.tv/en-gb/media-server-downloads/#plex-app" target="_blank"
      class="inline-flex items-center py-2 px-3 text-sm font-medium text-center text-white bg-amber-700 rounded-lg hover:bg-amber-800 focus:ring-4 focus:outline-none focus:ring-amber-300 dark:bg-amber-600 dark:hover:bg-amber-700 dark:focus:ring-amber-800">
      {{ _("Download") }}
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
        class="ml-2 -mr-1 w-4 h-4">
        <path stroke-linecap="round" stroke-linejoin="round"
          d="M9 8.25H7.5a2.25 2.25 0 00-2.25 2.25v9a2.25 2.25 0 002.25 2.25h9a2.25 2.25 0 002.25-2.25v-9a2.25 2.25 0 00-2.25-2.25H15M9 12l3 3m0 0l3-3m-3 3V2.25" />
      </svg>
    </a>
    <a href="/setup/requests"
      class="inline-flex items-center py-2 px-4 text-sm font-medium text-center text-gray-900 bg-white rounded-lg border border-gray-300 hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-700 dark:focus:ring-gray-700">{{ _("Skip") }}
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
        class="ml-2 -mr-1 w-4 h-4">
        <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3" />
      </svg>
    </a>

  </div>

</div>

{% endblock %}