{% extends "base.html" %}

{% block title %}
Tips
{% endblock %}

{% block main %}

<div class="flex flex-col items-center justify-center px-6 py-8 g:py-0">
  <div class="p-6 max-w-m bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
    <a href="#">
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">How to Use Plex?
      </h5>
    </a>
    <p class="mb-3 text-gray-700 dark:text-gray-400">
      If you have accepted the email invitation from Plex, should be ready to start watching!</p>
    <br>
    <p class="mb-3 font-bold text-gray-700 dark:text-gray-400">
      ℹ️ Eh, So, What is Plex exactly??</p>
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
      Good Question! Plex is a piece of software that helps people share media with each other. If you are here, someone
      wants to share their library with you! You'll be able to watch whatever they have on their server!</p>
    <br>
    <p class="mb-3 font-bold text-gray-700 dark:text-gray-400">
      🍿 Right, so how do I watch stuff?</p>
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
      It's easy! Plex is available on almost every device! Laptops, Tablets, Phones, TVs etc! All you have to do is
      download Plex on that device, sign in with your account and you're pretty much good to go!</p>
    <br>
    <p class="mb-3 font-bold text-gray-700 dark:text-gray-400">
      🛋 I've logged in but I am overwhelmed with content!</p>
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
      Yes, well, Plex is a free service, and so therefore, they have to make money somehow. The way they do so, is by
      pushing their own content before the content of the server you are joining.
      <span class="font-semibold">Don't be afraid however, this is easily fixable!</span></p>
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
      <span class="font-semibold">1.</span> On your left, you should see a menu. Click on the <span
        class="font-semibold">Expand</span> button. You will be
      presented will all the types of media you have access to.</p>
    </p>
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
      <span class="font-semibold">2.</span> We would recommend hiding all content put forward by Plex. To do this,
      select all the content types you don't
      want (such as 'Movies and TV On Plex') and 'Unpin' them from your home.
    </p>
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
      <span class="font-semibold">3.</span> Now that everything we <span class="font-semibold">don't</span> want is out
      of the way, we can focus on the
      things we <span class="font-semibold">do</span> want!</p>
    </p>
    <br>
    <p class="mb-3 font-bold text-gray-700 dark:text-gray-400">
      🎞 How can I make sure to have the best experience?</p>
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
      By default, Plex plays everything at a very low quality, which is a shame! Again, this is easily remedied.</p>
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
      <span class="font-semibold">1.</span> Go to the Plex <span class="font-semibold">Settings</span> page. This is
      usually in the top right hand corner, depending on the device you are on.
    </p>
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
      <span class="font-semibold">2.</span> Go to the <span class="font-semibold">Quality</span> or <span
        class="font-semibold">Video</span> settings.
    </p>
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
      <span class="font-semibold">3.</span> Set the <span class="font-semibold">Remote/Internet Streaming </span>to
      <span class="font-semibold">Maximum/Original</span>
    </p>
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
      <span class="font-semibold">4.</span> Set the <span class="font-semibold">Local Streaming </span>to
      <span class="font-semibold">Maximum/Original</span>
    </p>
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
      There you go! If you experience any buffering, remember that at any time you can change the playback quality, just
      as you can in Youtube!</p>

  </div>

</div>

{% endblock %}