{% extends "base.html" %}

{% block title %}
Tips
{% endblock %}

{% block main %}

<div class="flex flex-col items-center justify-center px-6 py-8 g:py-0">
  <div class="p-6 max-w-m bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
    <a href="#">
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ _("How to Use Plex?") }}</h5>
    </a>
    <p class="mb-3 text-gray-700 dark:text-gray-400">
      {{ _("Congratulations on accepting the email invitation from Plex! You're now one step closer to enjoying all the amazing content on our server. ") }}</p>
    <br>
    <p class="mb-3 font-bold text-gray-700 dark:text-gray-400">
      ℹ️ {{ _("Eh, So, What is Plex exactly??") }}</p>
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
      {{ _("Great question! Plex is a software that allows individuals to share their media collections with others. If you've received an invitation, it means someone wants to share their library with you. With Plex, you'll have access to all of the movies, TV shows, music, and photos that are stored on their server. Enjoy!") }}</p>
    <br>
    <p class="mb-3 font-bold text-gray-700 dark:text-gray-400">
      🍿 {{ _("Right, so how do I watch stuff?") }}</p>
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
      {{ _("It couldn't be simpler! Plex is available on a wide variety of devices including laptops, tablets, smartphones, and TVs. All you need to do is download the Plex app on your device, sign in with your account, and you're ready to start streaming your media. It's that easy!") }}</p>
    <br>
    <p class="mb-3 font-bold text-gray-700 dark:text-gray-400">
      🛋 {{ _("I've logged in but I am overwhelmed with content!") }}</p>
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
      {{ _("While Plex is a free service, they do have to generate revenue in order to continue providing the platform. One way they do this is by displaying their own content before the content of the server you are joining.") }}
      <span class="font-semibold">{{ _("No need to worry though, this can be easily resolved!") }}</span></p>
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
      <span class="font-semibold">1.</span> {{ _("On the left-hand side of your screen, you'll see a menu. Click on the ") }}<span
        class="font-semibold">{{ _("Expand") }}</span> {{ _("button to reveal all the different types of media you have access to.") }}</p>
    </p>
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
      <span class="font-semibold">2.</span> {{ _("To avoid seeing Plex's content first, we recommend hiding it. To do this, select all the content types you don't want (such as 'Movies and TV on Plex') and 'Unpin' them from your home screen. This way you'll only see the content that you really want to watch!") }}
    </p>
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
      <span class="font-semibold">3.</span> {{ _("Now that everything we") }} <span class="font-semibold">{{ _("don't") }}</span> {{ _("want is out of the way, we can focus on the things we ") }}<span class="font-semibold">{{ _("do") }}</span> {{ _(" want!") }}</p>
    </p>
    <br>
    <p class="mb-3 font-bold text-gray-700 dark:text-gray-400">
      🎞 {{ _("How can I make sure to have the best experience?") }}</p>
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
      {{ _("By default, Plex plays all content at a lower quality. This can be a bit of a disappointment. But don't worry, it's a simple fix! You can easily change the settings to increase the quality of the media that you're streaming.") }}</p>
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
      <span class="font-semibold">1.</span> {{ _("Go to the Plex ") }} <span class="font-semibold">{{ _("Settings ") }}</span> {{ _("page. This is usually in the top right hand corner, depending on the device you are on.") }}</p>
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
      <span class="font-semibold">2.</span> {{ _("Go to the ") }}<span class="font-semibold">{{ _("Quality") }}</span> {{ _("or") }} <span
        class="font-semibold">{{ _("Video") }}</span> {{ _("settings.") }}</p>
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
      <span class="font-semibold">3.</span> {{ _("Set the ") }}<span class="font-semibold">{{ _("Remote/Internet Streaming" ) }} </span>{{ _("to ") }}
      <span class="font-semibold">{{ _("Maximum/Original") }}</span>
    </p>
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
      <span class="font-semibold">4.</span> {{ _("Set the ") }}<span class="font-semibold">{{ _("Local Streaming ") }}</span>{{ _("to ") }}
      <span class="font-semibold">{{ _("Maximum/Original") }}</span>
    </p>
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
      {{ _("And there you have it! In case you encounter buffering issues, remember that you can always adjust the playback quality just like you do in YouTube. This way you can get the best streaming experience possible.") }}</p>

  </div>

</div>

{% endblock %}