{% extends "base.html" %}

{% block title %}Accept Invite{% endblock %}

{% block og_title %}{{ _(server_name) }}{% endblock %}

{% block og_description %}{{ _("You've been invited to join the %(name)s server!", name=server_name) }}{% endblock %}

{% block main %}
<section class="bg-white dark:bg-gray-900">
    <div class="flex flex-col items-center justify-center px-6 mx-auto h-screen lg:py-0">
        <h1
            class="mb-4 text-2xl font-extrabold tracking-tight leading-none text-gray-900 md:text-3xl lg:text-4xl dark:text-white">
            🧙🏼‍♂️ {{ _("You've been invited to join the %(name)s server!", name=server_name) }}</h1>

        <div class="flex flex-col mb-8 lg:mb-16 space-y-4 sm:flex-row sm:justify-center sm:space-y-0 sm:space-x-4">

        </div>
        <div
            class="w-full bg-white rounded-lg shadow-sm dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                    {{ _("Join the Plex Server") }}
                </h1>
                <form class="space-y-4 md:space-y-6" action="/join" method="post">
                    {% if not code_error %}
                    <div>
                        <label for="code" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{
                            _("Invite Code") }}</label>
                        <input minlength="6" maxlength="10" type="code" name="code" id="code"
                            class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary focus:border-primary block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            placeholder="{{ _('E.g. XMFGEJIKNQ') }}" value="{{ code }}" required="">
                        <input type="hidden" name="token" id="token" value="">
                    </div>
                    {% endif %}
                    {% if code_error %}
                    <div>
                        <label for="username-error"
                            class="block mb-2 text-sm font-medium text-red-700 dark:text-red-500">{{
                            _("Invite Code")
                            }}</label>
                        <input minlength="6" maxlength="10" type="code" name="code" id="code"
                            class="bg-red-50 border border-red-500 text-red-900 placeholder-red-700 text-sm rounded-lg focus:ring-red-500 focus:border-red-500 block w-full p-2.5 dark:bg-red-100 dark:border-red-400"
                            placeholder="{{ _('E.g. XMFGEJIKNQ') }}" required="">
                        <p class="mt-2 text-sm text-red-600 dark:text-red-500"><span class="font-medium">{{ _("Oops!")
                                }}</span>
                            {{ code_error }}</p>
                    </div>
                    {% endif %}
                    <button onClick="oauth(); return false;"
                        class="w-full text-white bg-primary hover:bg-primary_hover focus:ring-4 focus:outline-hidden focus:ring-amber-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary dark:hover:bg-primary_hover dark:focus:ring-primary_hover">{{
                        _("Join") }}</button>
                    </p>
                </form>
            </div>
        </div>
    </div>
</section>

<script src="https://unpkg.com/bowser@2.7.0/es5.js"></script> <!-- needed for plexHeaders -->
<script>
    // nanoid package, for generating client-identifier in plexHeaders
    let nanoid = (t = 21) => crypto.getRandomValues(new Uint8Array(t)).reduce(((t, e) => t += (e &= 63) < 36 ? e.toString(36) : e < 62 ? (e - 26).toString(36).toUpperCase() : e > 62 ? "-" : "_"), "");

    // adapted from overseerr
    async function oauth() {
        let popup = window.open("", "Plex", 'width=600, height=700, toolbar=no, menubar=no');
        const browser = window.bowser.getParser(window.navigator.userAgent);
        const plexHeaders = {
            Accept: 'application/json',
            'X-Plex-Product': 'Wizarr',
            'X-Plex-Version': 'Plex OAuth',
            'X-Plex-Client-Identifier': nanoid(),
            'X-Plex-Model': 'Plex OAuth',
            'X-Plex-Platform': browser.getBrowserName(),
            'X-Plex-Platform-Version': browser.getBrowserVersion(),
            'X-Plex-Device': browser.getOSName(),
            'X-Plex-Device-Name': `${browser.getBrowserName()} (Wizarr)`,
            'X-Plex-Device-Screen-Resolution':
                `${window.screen.width}x${window.screen.height}`,
        }
        const pin = await fetch("https://plex.tv/api/v2/pins?strong=true", {
            method: "POST",
            headers: plexHeaders
        }).then(r => r.json())

        const params = new URLSearchParams({
            clientID: plexHeaders['X-Plex-Client-Identifier'],
            'context[device][product]': plexHeaders['X-Plex-Product'],
            'context[device][version]': plexHeaders['X-Plex-Version'],
            'context[device][platform]': plexHeaders['X-Plex-Platform'],
            'context[device][platformVersion]':
                plexHeaders['X-Plex-Platform-Version'],
            'context[device][device]': plexHeaders['X-Plex-Device'],
            'context[device][deviceName]': plexHeaders['X-Plex-Device-Name'],
            'context[device][model]': plexHeaders['X-Plex-Model'],
            'context[device][screenResolution]':
                plexHeaders['X-Plex-Device-Screen-Resolution'],
            'context[device][layout]': 'desktop',
            code: pin.code
        });

        popup.location.href = `https://app.plex.tv/auth/#!?${params}`;

        const authToken = await new Promise((resolve, reject) => {
            const currentTime = Date.now()
            const interval = setInterval(async () => {
                if (popup.closed) return location.reload();
                const resp = await fetch(`https://plex.tv/api/v2/pins/${pin.id}`, {
                    headers: plexHeaders
                }).then(r => r.json())

                if (resp?.errors?.length) return location.reload();
                if (resp?.authToken) {
                    clearInterval(interval)
                    resolve(resp.authToken);
                    return;
                }
            }, 1000)
        });
        document.querySelector("#token").value = authToken;

        document.forms[0].submit();
    }
</script>
{% endblock %}