{% extends "base.html" %}
{% block title %}
  {{ _("Invite User") }}
{% endblock title %}
{% block main %}
  {% include "admin-nav.html" %}
  <div tabindex="-1"
       class="fixed inset-0 z-50 overflow-y-auto"
       aria-labelledby="modal-title"
       role="dialog"
       aria-modal="true">
    <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity dark:bg-gray-900 dark:bg-opacity-80"></div>
    <div class="flex min-h-full items-center justify-center p-4">
      <div id="user-modal" class="relative z-10"></div>
    </div>
  </div>
{% endblock main %}
