{% extends "base.html" %}

{% block title %}

{% endblock %}

{% block main %}
<section class="bg-white dark:bg-gray-900">
  <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-12">
    <h1
      class="mb-4 text-2xl font-extrabold tracking-tight leading-none text-gray-900 md:text-3xl lg:text-4xl dark:text-white">
      🧙🏼‍♂️ {{ _("You've been invited to join the %(name)s server!", name=name) }}</h1>
    <p class="mb-8 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400">
      {{ _("To join our Plex server, create a Plex account! Once you're done, come back here!") }}</p>
    <div class="flex flex-col mb-8 lg:mb-16 space-y-4 sm:flex-row sm:justify-center sm:space-y-0 sm:space-x-4">
      <a href="https://www.plex.tv/sign-up/" target="_blank"
        class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-amber-500 hover:bg-amber-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-amber-900">
        {{ _("Create Plex Account") }}
      </a>
      <a href="/join"
        class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-gray-900 rounded-lg border border-gray-300 hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 dark:text-white dark:border-gray-700 dark:hover:bg-gray-700 dark:focus:ring-gray-800">
        {{ _("I have a Plex Account") }}
      </a>
    </div>
  </div>
</section>
{% endblock %}