{% extends "base.html" %}

{% block title %}
Download Plex

{% endblock %}

{% block main %}

<div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">

    {% include "wizard/download.html" %}


    <div class="flex flex-col items-center py-2">
        <div id="button-divider" class="flex">
            <button id="prevBtn"
                class="hidden inline-flex items-center px-4 py-2 mr-3 text-sm font-medium text-gray-500 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
                hx-post="/setup/action=prev" hx-trigger="click" hx-target="#wizard" hx-swap="outerHTML">
                <svg aria-hidden="true" class="w-5 h-5 mr-2" fill="currentColor" viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M7.707 14.707a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l2.293 2.293a1 1 0 010 1.414z"
                        clip-rule="evenodd"></path>
                </svg>
                Previous
            </button>
            <button id="nextBtn"
                class="inline-flex items-center px-4 py-2 text-sm font-medium text-gray-500 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
                hx-post="/setup/action=next" hx-trigger="click" hx-target="#wizard" hx-swap="outerHTML">
                Next
                <svg aria-hidden="true" class="w-5 h-5 ml-2" fill="currentColor" viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
                        clip-rule="evenodd"></path>
                </svg>
            </button>
        </div>
    </div>

</div>
<script>

    // code block
    document.body.addEventListener("htmx:afterSwap", function (evt) {
        // get the response header value
        var current = evt.detail.xhr.getResponseHeader("current");
        var max = evt.detail.xhr.getResponseHeader("max");

        // if current is equal to 0, hide the prevBtn by adding the hidden class
        if (current == 0) {
            document.getElementById("prevBtn").classList.add("hidden");
        }
        // if current is greater than 0, show the prevBtn by removing the hidden class
        else {
            document.getElementById("prevBtn").classList.remove("hidden");
        }

        // if max is equal to 1, hide the nextBtn by adding the hidden class
        if (max == 1) {
            document.getElementById("nextBtn").classList.add("hidden");
        }
        if (max == 0) {
            document.getElementById("nextBtn").classList.remove("hidden");
        }

    });


</script>

{% endblock %}